/* Stylesheets and Google fonts import */
@import url("font-awesome.css");
@import url("animations.css");
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400italic);
/*  CSS definations for Tentered  */

/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline:none;
}


/* ==================================================
   Basic Styles
================================================== */

html, body {
    height: 100%;
}

html, hmtl a{
    width:100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a{
    color:#cccccc;
    text-decoration: none;
    cursor: pointer;

    -webkit-transition: color 0.1s linear 0s;
    -moz-transition: color 0.1s linear 0s;
    -o-transition: color 0.1s linear 0s;
    transition: color 0.1s linear 0s;
}
a:hover{
    text-decoration:underline;
}
a:hover,
a:active,
a:focus{
    outline: 0;
    color:#666666;
}
a:focus{
    text-decoration:none;
}

a img {
    border: none;
}

a > img {
    vertical-align: middle;
}

.gray-color{
    background:#bababa;
}
.gray-color:hover{
    background-color:rgba(186,186,186,.8);
}
.gray-color-text{
    color:#bababa;
}
.lgray-color{
    background:#f8f8f8;
}
.dgray-color{
    background:#333333;
}
.orange-color{
    background: #f78e49;
}
.dgray-color h2, .dgray-color h4, dgray-color p, dgray-color a{
    color:#f8f8f8;
}
img {
    max-width: 100%;
}

img, object, embed {
    max-width: 100%;
}
img {
    height: auto;
}
strong, .strong {
    font-weight: 700;
}

p {
    margin: 0 0 20px;
}
i, em, .italic{
    font-style:italic;
}
.uppercase{
    text-transform:uppercase;
}
.align-left{
    float:left;
    margin:0 25px 0 0px!important;
}

.align-right{
    float:right;
    margin:0 0 0 25px!important;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.color-text {
    color: #ffffff;
}

.through{
    text-decoration:line-through;
}
.border-radius{
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
.btn{
    padding:10px 12px!important;
    border:0!important;
}
.btn-lg {
    padding: 15px 16px!important;
}
.btn-sm {
    padding: 6px 10px!important;
}
.btn-xs {
    padding: 2px 5px!important;
}


/* ==================================================
   Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6{
    margin:0 0 20px 0;
    color:#333333;
    font-weight:300;
    line-height:1.5em;
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size:36px;
}

h2{
    font-weight:300;
    font-size:30px;
}

h3{
    font-size:18px;
}

h4{
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:14px;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
}

h5{
    font-size:14px;
}

h6{
    font-weight:400;
    font-size:12px;
}
h1.short, h2.short, h3.short, h4.short, h5.short, h6.short, p.short{
    margin-bottom:5px;
}
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced {
    margin-top: 22px;
}
h3.spec {
    margin-bottom: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 1em;
}
.huge{
    font-size:10em;
}
blockquote{
    margin:30px 0;
    padding:0 0 0 30px;
    border-left:3px solid;
}
blockquote p{
    margin-bottom:0;
    white-space:normal;
    font-style:italic;
    font-size:15px;
    line-height:25px;
    font-family: 'Roboto Slab', serif;
    font-weight:300;
}
blockquote cite{
    color:#cccccc;
    font-size:12px;
}
p{
    font-size:14px;
    line-height:20px;
}
p.md{
    font-size:14px;
}
p.lg{
    font-size:16px;
    line-height:28px;
}
.big{
    font-size:200%;
    line-height:1.5em;
}
.thin{
    font-weight:300;
}
p.drop-caps:first-child:first-letter {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: 75px;
    font-family:Georgia, serif;
    line-height: 60px;
}
p.drop-caps.secondary:first-child:first-letter {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}
hr.fw{
    display:block;
    clear:both;
    margin-top:0;
    margin-bottom:50px;
    width:100%;
    height:1px;
    border:0;
    background:#efefef;
}
hr.sm{
    display:inline-block;
    margin:15px 0;
    width:40px;
    height:1px;
    border:0;
    background:#efefef;
}
hr.thick{
    display:inline-block;
    margin:15px 0;
    width:80px;
    height:2px;
    border:0;
    background:#efefef;
}
ul.checks, ul.hearts, ul.carets, ul.chevrons{
    margin-bottom:15px;
}
ul.checks > li, ul.hearts > li, ul.carets > li, ul.chevrons > li{
    margin:10px 0;
}
ul.checks > li > i, ul.hearts > li > i, ul.carets > li > i, ul.chevrons > li > i{
    margin-right:2px;
}
ul.inline{
    margin:10px 0;
}
ul.inline > li{
    display:inline-block;
    margin-right:10px;
}
ul.inline > li i.fa{
    margin-right:2px;
}
ul.nav-list-primary > li a{
    display:block;
    padding:8px;
    border-bottom:1px solid #eaeaea;
    color:#666666;
}
ul.nav-list-primary > li a:hover{
    background-color:#f8f8f8;
    text-decoration:none;
}
ul.unordered{
    margin:10px 0 10px 20px;
    list-style-type:disc;
}
ol{
    margin:10px 0 10px 30px;
    list-style-type: decimal;
}
ul.unordered ul, ol ul{
    margin:10px 0 10px 20px;
}
ul.unordered ul{
    list-style-type:circle;
}
dl{
    margin:10px 0;
}
dl dt{
    font-weight:700;
}
.date{
    display:inline-block;
    margin-bottom:10px;
    color:#cccccc;
    font-size:12px;
    font-family: 'Volkhov', serif;
    font-style:italic;
}
address.ico i{
    display:inline-block;
    float: left;
    clear:both;
    padding-top: 3px;
}
address.ico p{
    margin:0;
    padding-bottom:10px;
}
address.ico span{
    display:inline-block;
    padding-left:20px;
}


/* ==================================================
   Margin Bottom Sets
================================================== */

.margin-0{
    margin-bottom:0 !important;
}

.margin-10{
    margin-bottom:10px !important;
}

.margin-15{
    margin-bottom:15px !important;
}

.margin-20{
    margin-bottom:20px !important;
}

.margin-30{
    margin-bottom:30px !important;
}

.margin-40{
    margin-bottom:40px !important;
}

.margin-50{
    margin-bottom:50px !important;
}

.margin-60{
    margin-bottom:60px !important;
}

.margin-70{
    margin-bottom:70px !important;
}

.margin-80{
    margin-bottom:80px !important;
}
.push-top{
    margin-top:35px;
}

/* ==================================================
   Padding Sets
================================================== */
.padding-b0{
    padding-bottom:0!important;
}
.padding-tb20{
    padding-top:20px;
    padding-bottom:20px;
}
.padding-tb45{
    padding-top:45px;
    padding-bottom:45px;
}
.padding-tb75{
    padding-top:75px;
    padding-bottom:75px;
}
.padding-tb100{
    padding-top:100px;
    padding-bottom:100px;
}
.padding-tb125{
    padding-top:125px;
    padding-bottom:125px;
}

/* ----------------------------------------------------------------------------------------- */
/* Multi purpose classes */
/* ----------------------------------------------------------------------------------------- */
.ic-lg{
    display:inline-block;
    margin-bottom:20px;
    max-width:100%;
    width:82px;
    height:82px;
    border-width:3px;
    border-style:solid;
    -webkit-border-radius:100%;
    border-radius:100%;
    text-align:center;
    line-height:78px;
}
.ic-lg:hover{
    color:#fff;
}
.ic-sm{
    display:inline-block;
    max-width:100%;
    width:40px;
    height:40px;
    -webkit-border-radius:100%;
    border-radius:100%;
    text-align:center;
    line-height:40px;
}
.btn.transparent{
    border:2px solid #ffffff!important;
    background:transparent;
    color:#ffffff;
    padding-top:7px!important;
    padding-bottom:7px!important;
}
.btn.transparent:hover{
    background:#ffffff;
    color:#666666;
}
.ic-featured{
    width:110px;
    height:110px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    line-height:110px;
}
.overlay-transparent{
    background:rgba(0,0,0,.6);
}
#map_canvas {
    position:relative;
    z-index:0;
    width:100%;
    height:400px;
}
.form-group:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0px;
    content: ".";
    line-height: 0;
}
.img-circle{
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}

/*-------------------------------------------------------------------------------------------*/
/* SHORTCODE DEFINATIONS */
/*-------------------------------------------------------------------------------------------*/
/* ==================================================
   Tabs
================================================== */
.tabs{
    margin-bottom:25px;
}
.nav-tabs{
    border-bottom:1px solid #eaeaea;
}
.nav-tabs li{
    position:relative;
    display:block;
    float:left;
    border-right:1px solid #eaeaea;
}
.nav-tabs li:last-child{
    border-right:0;
}
.nav-tabs li a{
    display:block;
    padding:11px 12px;
    border-top-width:3px;
    border-top-style:solid;
    border-top-color:#f8f8f8;
    background:#f8f8f8;
    color:#666;
}
.nav-tabs li a:hover{
    text-decoration:none;
}
.nav-tabs li a:active, .nav-tabs li.active a{
    color:#fff;
}
.tab-content{
    padding:20px;
    background:#ffffff;
}
.tab-content > .tab-pane{
    display:none;
}
.tab-content > .active{
    display:block;
}
/* ==================================================
   Accordion & Toggle
================================================== */

.accordion {
    margin-bottom: 35px;
}

.accordion-group {
    margin-bottom: 8px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.accordion-heading {
    border-bottom: 0 none;
}

.accordion-heading .accordion-toggle {
    position: relative;
    display: block;
    padding: 15px;
    background:#f8f8f8;
    color: #666;
    font-size: 13px;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    -ms-transition: all 0.1s linear 0s;
    -o-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}

.accordion-toggle {
    cursor: pointer;
}
.accordion-toggle:hover{
    text-decoration:none;
}
.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
    background:#f8f8f8;
    color:#666;
}

.accordion-heading .accordion-toggle.active {
    color:#fff;
}

.accordion-heading .accordion-toggle.inactive {
    background:#f8f8f8;
}

.accordion-heading.accordionize .accordion-toggle i,
.accordion-heading.togglize .accordion-toggle i {
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -8px 0 0 0;
    color: #666;
    font-size: 18px;

    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    -ms-transition: all 0.1s linear 0s;
    -o-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s;
}

.accordion-heading:hover .accordion-toggle i {
    color: #333;
}

.accordion-heading .accordion-toggle.active i,
.accordion-heading:hover .accordion-toggle.inactive i {
    color: #666;
}

.accordion-heading.accordionize .accordion-toggle.active i,
.accordion-heading.togglize .accordion-toggle.active i {
    color: #fff;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion-heading.togglize .accordion-toggle i {
    margin: -8px 0 0 0;
    font-size: 18px;
}
.accordion-heading.togglize .accordion-toggle .fa-plus-circle{
    display:block;
}
.accordion-heading.togglize .accordion-toggle.active .fa-plus-circle{
    display:none;
}
.accordion-heading.togglize .accordion-toggle .fa-minus-circle{
    display:none;
}
.accordion-heading.togglize .accordion-toggle.active .fa-minus-circle{
    display:block;
}

.accordion-inner {
    padding: 16px;
    border: 1px solid #efefef;
    background: #fff;
}

/* ==================================================
   Alerts
================================================== */

.alert {
    margin-bottom: 20px;
    padding: 15px 35px 15px 15px;
    border: 1px solid #efefef;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #f8f8f8;
    text-shadow: none;
}

.alert .close {
    position: relative;
    top: 2px;
    right: -22px;
    color: #FFFFFF;
    text-shadow: none;
    line-height: 20px;

    -webkit-transition: opacity 0.1s linear 0s;
    -moz-transition: opacity 0.1s linear 0s;
    -ms-transition: opacity 0.1s linear 0s;
    -o-transition: opacity 0.1s linear 0s;
    transition: opacity 0.1s linear 0s;
}

.alert .close:hover {
    text-decoration:none;
    opacity: 1;
}
.alert-standard {
    border-color:#efefef;
    background-color: #f8f8f8;
}
.alert-standard, .alert-standard .close {
    color:#666;
}
.alert-success {
    border-color:#d6e9c6;
    background-color: #dff0d8;
}
.alert-success, .alert-success .close {
    color:#468847;
}
.alert-danger,
.alert-error {
    border-color:#ebccd1;
    background-color: #f2dede;
}
.alert-danger, .alert-danger .close,
.alert-error, .alert-error .close {
    color:#b94a48;
}
.alert-info {
    border-color:#bce8f1;
    background-color: #d9edf7;
}
.alert-info, .alert-info .close {
    color:#3a87ad;
}
.alert-warning {
    border-color:#faebcc;
    background-color: #fcf8e3;
}
.alert-warning, .alert-warning .close {
    color:#c09853;
}

/* ==================================================
   Carousel
================================================== */


/* ==================================================
   Progress bars
================================================== */
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
.progress {
    overflow: hidden;
    margin-bottom: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    background-color: #cccccc;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}
.progress-striped .progress-bar {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
    background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
    background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
    background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
    background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress {
    overflow: visible;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #FAFAFA;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10) inset;
}

.progress-bar {
    position: relative;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

span.progress-bar-tooltip {
    position: absolute;
    position: absolute;
    top: -28px;
    right: 5px;
    display: block;
    padding: 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #333;
    color: #FFF;
    font-size: 11px;
    line-height: 15px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-border-radius: 3px;
}

span.progress-bar-tooltip:after {
    position: absolute;
    bottom: -5px;
    left: 13px;
    display: block;
    width: 0;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #333 transparent;
    content: "";
}
/* ==================================================
   Breadcrumb
================================================== */
.breadcrumb{
    margin:8px 0 0 0;
}

/* ==================================================
   Modal Box
================================================== */
.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-dialog {
    position: relative;
    z-index: 1050;
    margin: 10px;
    width: auto;
}

.modal-content {
    position: relative;
    outline: none;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #ffffff;
    background-clip: padding-box;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px;
    min-height: 16.428571429px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
}

.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

.modal-footer:after {
    clear: both;
}

.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        margin: 30px auto;
        width: 600px;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}
/* ==================================================
   Facts Counters
================================================== */
.fact-ico{
    display:inline-block;
    width:153px;
    height:165px;
    background:url(../images/bg_fact.png) no-repeat;
    color:#333333;
    line-height:180px;
}
.fact{
    display:inline-block;
    color:#efefef;
    text-transform:uppercase;
    font-size:15px;
}
.counters .timer{
    display:inline-block;
    color:#ffffff;
    font-weight:700;
    font-size:30px;
}
/* ==================================================
   Circular Bars
================================================== */
.circular-bar {
    margin-bottom: 25px;
    min-height: 210px;
}

.circular-bar input.knob {
    visibility: hidden;
}

.circular-bar strong {
    display: block;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

.circular-bar label {
    display: block;
    font-weight: 100;
    font-size: 17px;
    line-height: 20px;
}

.circular-bar-content {
    margin-top: -125px;
    margin-bottom: 70px;
    text-align: center;
}

/*-------------------------------------------------------------------------------------------*/
/* SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
html {
    overflow-x:hidden;
}
body{
    background-color:#ffffff;
    background-attachment:fixed;
    color:#666;
    font-size:14px;
    font-weight:300;
    font-family: 'Roboto', sans-serif;
    line-height:20px;
}
.body{
    width:100%;
    height:100%;
}
.rev-slider-container{
    overflow:hidden;
    background-color:#f8f8f8;
}
.rev-slider-container .tp-banner > ul{
    visibility:hidden;
}
.site-header{
    width:100%;
    height:100px;
    background:#ffffff;
}
.is-sticky .site-header{
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.2);
    box-shadow:0 1px 3px rgba(0,0,0,0.2);
}
body.sticky-menu-active .site-header {
    position: fixed;
    top: -57px;
    z-index: 1001;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    filter: none;
}
.is-sticky #sticky-nav{
    width:100%;
    border-bottom: 1px solid #eaeaea;
    background:#ffffff;
}
.site-header .container .row{
    position:relative;
}
.header-left-bg{
    position:absolute;
    top:0;
    left:0;
    z-index:999;
    width:24.4%;
    height:80px;
    -webkit-box-shadow:inset 0 -10px 10px rgba(0,0,0,.07);
    -moz-box-shadow:inset 0 -10px 10px rgba(0,0,0,.07);
    box-shadow:inset 0 -10px 10px rgba(0,0,0,.07);
}
.site-header h1.logo{
    position:relative;
    z-index:1300;
    display: table;
    margin:0;
    padding: 5px 0px;
    height:100px;
    vertical-align: middle;
    line-height: 0;
}
.logo span{
    font-weight:bold;
    font-size:48px;
    font-family: 'Roboto Slab', serif;
}
.logo i{
    font-size:30px;
}
.logo a{
    display:table-cell;
    color:#fff;
    vertical-align:middle;
}
.main-menu > ul{
    display:block;
    float:right;
    padding:0 65px 0 0;
}
.main-menu > ul > li{
    position:relative;
    z-index:999;
    float:left;
    padding:0 0 0 30px;
    font-size:13px;
}
.main-menu > ul > li > a{
    display:block;
    height:100px;
    line-height:100px;
    text-transform:uppercase;
    font-weight:bold;
}
.main-menu > ul > li:hover > a, .main-menu > ul > li > a:hover, .main-menu > ul > li.active > a{
    color:#666;
    text-decoration:none;
}
.main-menu > ul > li > ul, .main-menu > ul > li > ul > li > ul{
    position:absolute;
    top:100%;
    left:-15px;
    z-index:999;
    display:none;
    min-width:100%;
    background:#fff;
    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.2);
    -moz-box-shadow:0 3px 8px rgba(0,0,0,.2);
    box-shadow:0 3px 8px rgba(0,0,0,.2);
}
.main-menu > ul > li > ul > li{
    position:relative;
}
.main-menu > ul > li > ul > li > ul{
    left:100%;
    margin-left:0;
    top:0;
}
.main-menu > ul > li:hover > ul{
    display:block;
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.main-menu > ul > li > ul > li > a, .main-menu > ul > li > ul > li > ul > li > a{
    display:block;
    padding:13px 20px;
    border-bottom:1px solid #eaeaea;
    color:#666666;
    white-space:nowrap;
}
.main-menu > ul > li > ul > li > a:hover, .main-menu > ul > li > ul > li > ul > li > a:hover{
    text-decoration:none;
    color:#ffffff;
}
.main-menu > ul > li > ul > li:last-child > a, .main-menu > ul > li > ul > li > ul > li:last-child > a{
    border-bottom:0;
}
.main-menu > ul > li.megamenu{
    position:inherit!important;
    left:0;
}
.main-menu > ul > li.megamenu > ul{
    left:-25%;
    margin-left:-74px;
}
.main-menu .megamenu-container{
    padding:35px 25px 25px 25px;
    color:#cccccc;
}
.main-menu .megamenu-container ul{
    display:block!important;
    color:#666666;
}
.main-menu .megamenu-container .megamenu-sub-title{
    display:block;
    padding-bottom:11px;
    padding-top:11px;
    padding-left:15px;
    color:#666666;
    text-transform:uppercase;
    font-weight:bold;
    font-size:14px;
}
.main-menu .megamenu-container ul li a{
    display:block;
    padding:7px 15px;
    color:#666666;
    border-bottom:1px solid #eaeaea;
}
.main-menu .megamenu-container ul li:first-child a > i{
    display:none;
}
.main-menu .megamenu-container ul li a:hover{
    text-decoration:none;
    color:#ffffff;
}
.mmenu-toggle, .mobile-menu{
    display:none;
}
.mmenu-toggle{
    position:absolute;
    top:-45px;
    right:10px;
    z-index:1100;
    border:0!important;
    background:none!important;
    color:#666666;
}
.mobile-menu{
    position:absolute;
    top:100%;
    left:0;
    z-index:9999;
    display:none;
    overflow:auto;
    padding:0 15px;
    width:100%;
    background:#333333;
}
.mobile-menu li a, .mobile-menu .megamenu .megamenu-sub-title{
    display:block;
    padding:15px 0;
    border-bottom:1px solid #666;
    color:#eeeeee;
}
.mobile-menu li a i{
    float:right;
    margin-top:4px;
}
.mobile-menu li a:hover{
    text-decoration:none;
}
.mobile-menu .dropdown, .mobile-menu .megamenu ul{
    padding-left:20px;
}
.topbar{
    position:relative;
    z-index:1002;
    height:35px;
    border-bottom:1px solid #eaeaea;
    background:#f8f8f8;
}
.secondary-menu > ul{
    border-left:1px solid #eaeaea;
}
.secondary-menu > ul > li{
    float:left;
}
.secondary-menu > ul > li > a{
    display:block;
    overflow:hidden;
    padding:0 13px;
    height:34px;
    border-right:1px solid #eaeaea;
    color:#999999;
    font-size:12px;
    line-height:34px;
}
.secondary-menu > ul > li > a:hover{
    background-color:#eaeaea;
    text-decoration:none;
}
.secondary-menu .dropdown-menu{
    z-index:1200;
}
#search-outer{
    position:absolute;
    top:0;
    left:0;
    z-index:1100;
    width:100%;
}
#search{
}
#search-outer .row{
    position:relative;
}
.search-icon{
    position:absolute;
    top:0;
    right:15px;
    z-index:999;
    padding-top:31px;
    width:38px;
}
.search-icon a{
    display:block;
    width:38px;
    height:38px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    background:#f8f8f8;
    color:#999;
    text-align:center;
    font-size:16px;
    line-height:35px;
}
.search-icon #close{
    display:none;
}
#search-box{
    position:relative;
    z-index:999;
    display:none;
    overflow:hidden;
    padding-right:38px;
    height:100px;
}
#search-box form{
    height:100px;
    background:#fff;
}
#search-box form input{
    padding:27px 0 25px 40px;
    width:89%;
    border:0;
    background:none;
    box-shadow:none;
    color:#ccc;
    font-size:36px;
    line-height: 36px;
}
.social-icons-colored a{
    display:inline-block;
    margin-right:5px;
    width:30px;
    height:30px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    color:#ffffff!important;
    text-align:center;
    line-height:30px;
}
.social-icons-colored a:hover{
    background-color:#999999!important;
}
.social-icons-colored a.facebook{
    background-color:#3b5998;
}
.social-icons-colored a.twitter{
    background-color:#33ccff;
}
.social-icons-colored a.gplus{
    background-color:#C63D2D;
}
.social-icons-colored a.linkedin{
    background-color:#4875B4;
}
.social-icons-colored a.vimeo{
    background-color:#4EBBFF;
}
.social-icons-colored a.dribbble{
    background-color:#ea4c89;
}
.social-icons-colored a.youtube{
    background-color:#FF3333;
}
.cart-button{
}
.cart-button > a{
    display:block;
    display:inline-block;
    padding:8px 15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    background:#f8f8f8;
}
.cart-button > a > span{
    padding:0 10px;
}
.cart-button > a:hover{
    text-decoration:none;
}
.cart-button .cart-items{
    padding:0;
}
.cart-button li.cart-item{
    width:200px;
    font-size:13px;
}
.cart-button li.cart-item img{
    float:left;
    margin-top:3px;
    margin-right:10px;
}
.cart-button li.cart-item a{
    height:56px;
}
.cart-button li.cart-item .quantity{
    display:block;
    padding-top:5px;
    color:#999999;
    font-size:12px;
}
.cart-button a.btn{
    padding:10px 0;
    border:0;
    -webkit-border-radius:0 0 3px 3px;
    -moz-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    color:#ffffff;
    text-transform:uppercase;
}
#sticky-nav{
    position:relative;
    z-index:1000;
    background:#fff;
}
.rev-slider-container{
    position:relative;
    overflow:hidden;
    width:100%;
}
body.boxed .body{
    position:relative;
    margin:25px auto;
    max-width:1200px;
    width:100%;
    height:auto;
    background-color:#ffffff;
    -webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 2px rgba(0,0,0,.2);
    box-shadow:0 0 2px rgba(0,0,0,.2);
}
@media (min-width: 1200px) {
    body.boxed .body .site-header, body.boxed .body #sticky-nav{
        max-width:100%;
        width:1200px;
    }
    body.boxed .body .site-header, body.boxed .body .heading-fs-bg{
        box-shadow:none;
    }
}

/* Header Style 1 */

/* Header Style 2 */
.header-style2 > header{
    z-index:1000;
}
.header-style2 .site-header{
    position:relative;
    overflow:visible;
    background:transparent;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    height:80px;
}
.header-style2 .header-left-bg{
    top:80px;
    height:80px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.header-style2 #sticky-nav{
    border-bottom:0;
    background:none;
}
.header-style2 .is-sticky #sticky-nav{
    border-bottom:0;
    background:#ffffff;
}
.transi-header .social-icons a{
    float:left;
    margin-top:30px;
    margin-right:30px;
}
.header-style2 .site-header h1.logo{
    margin:0 auto;
    padding: 0px;
    height:80px;
}
.header-style2 .main-menu > ul{
    padding:30px 0 0 0;
}
.header-style2 .main-menu > ul > li > a{
    height:50px;
    padding:0;
    line-height: normal;
}
.header-style2 .main-menu ul li ul:before {
    position: absolute;
    top: auto;
    margin: -18px 0px 0px 38%;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: #ffffff;
    content: " ";
    pointer-events: none;
}
.header-style2 .main-menu ul li ul li ul:before{
    display:none;
}
.header-style2 .main-menu > ul > li.megamenu ul:before{
    margin: -18px 0px 0px 71%;
}
.header-style2 .site-header a{
    color:#ffffff;
}
.header-style2 .is-sticky .transi-header a{
    color:#999999;
}
.header-style2 .site-header a:hover{
    color:#f8f8f8;
}
.header-style2 .main-menu .megamenu-container ul li a:hover{
    background:none;
    color:#999999;
}
.header-style2 .is-sticky .transi-header a:hover, .header-style2 .is-sticky .transi-header li:hover > a{
    color:#666666;
}
.header-style2 .main-menu > ul > li:hover > a, .header-style2 .main-menu > ul > li > a:hover, .header-style2 .main-menu > ul > li.active > a{
    color:#f8f8f8;
}
.header-style2 .main-menu > ul > li > ul > li > a, .header-style2 .main-menu > ul > li > ul > li > ul > li > a{
    color:#666666;
}
.header-style2 .main-menu > ul > li > ul > li > a:hover, .header-style2 .main-menu > ul > li > ul > li > ul > li > a:hover{
    background:none;
    color:#999999;
}
.header-style2 .main-menu > ul > li:hover > ul.dropdown{
    display:block!important;
}
.header-style2 .mmenu-toggle{
    top:30px;
    color:#ffffff;
}
.header-style2 .is-sticky .mmenu-toggle{
    color:#999999;
}
.header-style2 .main{
    position:relative;
    top:-80px;
    margin-bottom:-80px;
    padding-top:0;
}
.header-style2 .is-sticky .transi-header{
    height:80px;
}
/* Header Style 3 */
.header-style3 .site-header{
    position:relative;
    height:125px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    color:#999999;
}
.sticky-menu-active .header-style3 .site-header {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
}
.header-style3 .site-header h1.logo{
    padding: 0px;
    height:125px;
}
.header-style3 .site-header h1.logo-sticky-active{
    padding-top:55px;
}
.header-style3 .header-top{
    overflow:hidden;
    padding:12px 0;
    height:49px;
    border-bottom:1px solid #eaeaea;
}
.header-style3 .site-header a{
    color:#999999;
}
.header-style3 .site-header a:hover{
    color:#666666;
}
.header-style3 .social-icons a{
    float:left;
    margin:0 15px;
}
.header-style3 .search-form-blocked{
    margin-top:-12px;
    margin-bottom:-12px;
    padding-top:12px;
    height:48px;
    border-left:1px solid #eaeaea;
}
.header-style3 .search-form-blocked input[type="text"]{
    width:79%;
}
.header-style3 .search-form-blocked input[type="text"], .header-style3 .search-form-blocked button{
    border:0;
    box-shadow:0;
}
.header-style3 .search-form-blocked button{
    background:none;
    color:#999999;
}
.header-style3 .main-menu > ul{
    float:left;
    padding:11px 0 0 0;
}
.header-style3 .main-menu > ul > li.megamenu > ul{
    left:-20%;
    margin-left:0;
}
.header-style3 .main-menu > ul > li{
    padding:0 15px 0 0;
}
.header-style3 .main-menu > ul > li > a{
    padding:0 12px;
    height:65px;
    line-height:55px;
    color:#999999;
    text-transform:none;
}
.header-style3 .main-menu > ul > li:hover > a, .header-style3 .main-menu > ul > li > a:hover, .header-style3 .main-menu > ul > li.active > a{
    -webkit-border-radius:15px 15px 0 0;
    -moz-border-radius:15px 15px 0 0;
    border-radius:15px 15px 0 0;
    color:#ffffff;
}
.header-style3 .main-menu > ul > li > ul{
    top:100%;
    left:0;
}
.header-style3 .main-menu > ul > li > ul > li > a, .header-style3 .main-menu > ul > li > ul > li > ul > li > a{
    border-bottom:1px solid #eaeaea;
    color:#eaeaea;
}
.header-style3 .main-menu > ul > li > ul > li:last-child > a, .header-style3 .main-menu > ul > li > ul > li > ul > li:last-child > a{
    border-bottom:none;
}
.header-style3 .main-menu > ul > li > ul > li > a:hover, .header-style3 .main-menu > ul > li > ul > li > ul > li > a:hover{
    background:none;
    color:#ffffff;
}
.header-style3 .main-menu > ul > li.megamenu > ul{
    top:125px;
    left:-12%;
    margin-left:-80px;
}
.header-style3 .main-menu .megamenu-container{
    color:#eaeaea;
}
.header-style3 .main-menu .megamenu-container ul{
    display:block!important;
    color:#eaeaea;
}
.header-style3 .main-menu .megamenu-container .megamenu-sub-title{
    color:#eaeaea;
}
.header-style3 .main-menu .megamenu-container ul li a{
    color:#eaeaea;
}
.header-style3 .main-menu .megamenu-container ul li a:hover{
    background:none;
    color:#ffffff;
}
.header-style3 .cart-button{
    margin-top:18px;
}
.header-style3 .site-header .cart-button a.btn{
    color:#ffffff;
}
.header-style3 .site-header .cart-button a.btn:hover{
    color:#333333;
}
body.sticky-menu-active .site-header .cart-button{
    margin-top:22px;
}
.header-style3 .main{
    padding-top:0;
}

/* Header Style 4 */
.header-style4 .site-header{
    position:fixed;
    z-index:8000;
    height:80px;
    border-bottom:1px solid #efefef;
}
.header-style4 .site-header h1.logo{
    height:80px;
    padding:0;
}
body.boxed .header-style4 .site-header{
    position:relative;
}
.header-style4 .main{
    padding-top:80px;
}
body.boxed .header-style4 .main{
    padding-top:0;
}
.header-style4 .main-menu > ul > li > a{
    height:80px;
    line-height:80px;
}
.header-style4 .search-icon{
    padding-top:21px;
}
.header-style4 #search-box{
    height:78px;
}
.header-style4 #search-box form{
    height:78px;
}
.header-style4 #search-box form input{
    padding:20px 0 12px 40px;
}
/* Header Style 5 */
.header-style5 .site-header{
    position:relative;
    height:190px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.header-style5 .site-header .logo-wrapper{
    width:100%;
    border-bottom:1px solid #eaeaea;
}
.header-style5 .site-header h1.logo{
    margin:0 auto;
    padding:0;
    height:125px;
}
.header-style5 .main-menu{
    z-index:1400;
}
.header-style5 .main-menu > ul{
    float:left;
    padding-top:0;
    border-left:1px solid #eaeaea;
}
.header-style5 .main-menu > ul > li{
    padding:0;
}
.header-style5 .main-menu > ul > li > a{
    padding:0 25px;
    height:64px;
    border-right:1px solid #eaeaea;
    line-height:64px;
}
.header-style5 .main-menu > ul > li:hover > a, .header-style5 .main-menu > ul > li > a:hover, .header-style5 .main-menu > ul > li.active > a{
    height:64px;
    border-top-width:3px;
    border-top-style:solid;
    background:#f8f8f8;
    line-height:58px;
}
.header-style5 .main-menu > ul > li > ul{
    top:64px;
    left:0;
    background:#f8f8f8;
}
.header-style5 .main-menu > ul > li > ul > li > ul{
    background:#f8f8f8;
    top:0;
}
.header-style5 .main-menu > ul > li > ul > li > a, .header-style5 .main-menu > ul > li > ul > li > ul > li > a{
    border-bottom:1px solid #eaeaea;
    color:#666666;
}
.header-style5 .main-menu > ul > li > ul > li > a:hover, .header-style5 .main-menu > ul > li > ul > li > ul > li > a:hover{
    background:#eaeaea;
}
.header-style5 .main-menu > ul > li.megamenu > ul{
    top:64px;
    left:0;
    margin-left:0;
}
.header-style5 .main-menu .megamenu-container ul{
    color:#666666;
}
.header-style5 .main-menu .megamenu-container ul li a{
    color:#666666;
}
.header-style5 .main-menu .megamenu-container ul li a:hover{
    background:#eaeaea;
}
.header-style5 #search-outer{
    top:117px;
    z-index:9991;
}
.header-style5 #search-box form{
    margin-top:9px;
}
.header-style5 #search-box form input{
    padding:7px 0 0 20px;
    width:89%;
}
.header-style5 .social-icons-colored{
    padding-top:17px;
}
.header-style5 .main{
    padding-top:0;
}

/* Header Style 6 */
.header-style6 .site-header{
    position:relative;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    height:80px;
}
.header-style6 #main-menu{
    padding-right:0;
}
.header-style6 h1.logo{
    padding:0;
    height:80px;
}
.header-style6 h1.logo img{
    height:50px;
}
.header-style6 .main-menu > ul > li > ul{
    left:0;
}
.header-style6 .main-menu > ul > li.megamenu > ul{
    left:-25%;
}
.header-style6 .main-menu > ul > li{
    padding-left:0;
}
.header-style6 .main-menu > ul > li > a{
    letter-spacing:1px;
    color:#666666;
    padding:0 20px;
    height:80px;
    line-height:80px;
}
.header-style6 .main-menu > ul > li:hover > a, .header-style6 .main-menu > ul > li > ul > li:hover > a, .header-style6 .main-menu > ul > li > ul > li > ul > li:hover > a{
    color:#ffffff!important;
}
.header-style6 .main-menu .megamenu-container ul li a:hover{
    text-decoration:none;
    color:#ffffff;
}
.header-style6 .main{
    padding-top:0;
}
.header-style6 .big{
    font-weight:300;
}

/* Footer style default */
.site-footer-top{
    padding:30px 0;
    background:#666666;
    color:#eeeeee;
    font-size:12px;
    line-height:18px;
}
.site-footer-top a{
    color:#ffffff;
}
.site-footer-top a:hover{
    color:#ffffff;
}
.footer-widget h4, .footer-widget h3{
    color:#eeeeee;
}
.footer-widget p, .footer-widget li, .footer-widget address{
    color:#cccccc;
    font-size:12px;
}
.footer-widget li{
    margin-bottom:8px;
}
.footer-widget li a{
    color:#ffffff;
}
#twitter.footer-widget a{
    display:block;
    margin-top:10px;
}
#recent_projects.footer-widget ul{
    margin-left:-13px;
}
#recent_projects.footer-widget li{
    float:left;
    margin-bottom:13px;
    margin-left:13px;
    width:75px;
}
.site-footer-top #recent_posts.footer-widget li a{
    color:#cccccc;
}
.site-footer-top #recent_posts.footer-widget li a:hover{
    color:#ffffff;
}
.site-footer-bottom{
    padding:25px 0;
    background:#333333;
}
.site-footer-bottom .site-logo{
    max-width:80%;
    opacity:.5;
}
.site-footer-bottom p{
    margin:0;
    padding:0;
    line-height:30px;
}
.social-icons-bar li{
    float:left;
}
.social-icons-bar a{
    margin-left:15px;
    color:#666666;
    line-height:30px;
}
#back-to-top{
    position:fixed;
    right:17px;
    bottom:17px;
    display:none;
    padding:5px 12px;
    -webkit-border-radius:3px;
    border-radius:3px;
    background:rgba(0,0,0,.7);
    color:#ffffff;
}

/* Footer Style 2 */
.footer-style2 .site-footer-top{
    background:#333333;
    color:#999999;
}
.footer-style2 .site-footer-top a:hover{
    color:#ffffff;
}
.footer-style2 .footer-widget p, .footer-style2 .footer-widget li, .footer-style2 .footer-widget address{
    color:#999999;
}
.footer-style2 .footer-widget li a{
    color:#999999;
}
.footer-style2 .footer-widget li a:hover{
    color:#ffffff;
}
.footer-style2 .site-footer-bottom{
    background:#1d1d1d;
}

/* Footer Style 3 */
.footer-style3 .site-footer-top{
    background:#333333;
    color:#999999;
}
.footer-style3 .footer-widget h4{
    margin-bottom:15px;
    padding-bottom:5px;
    border-bottom:1px solid #666666;
}
.footer-style3 .site-footer-top a:hover{
    color:#ffffff;
}
.footer-style3 .footer-widget p, .footer-style3 .footer-widget li, .footer-style3 .footer-widget address{
    color:#999999;
}
.footer-style3 .footer-widget li a{
    color:#999999;
}
.footer-style3 .site-footer-bottom{
    background:#1d1d1d;
}
.footer-style3 .social-icons-bar a{
    display:block;
    margin:0 10px 0 0;
    width:25px;
    height:25px;
    text-align:center;
    line-height:25px;
}
.footer-style3 .site-footer-top hr.fw{
    margin-bottom:10px;
    background-color:#666666;
}
.footer-style3 .social-icons-bar a:hover{
    color:#ffffff;
}

/* Footer Style 4 */
.footer-style4 .site-footer-bottom{
    text-align:center;
}

/* Inner Page Styles */
.page-content{
    padding-bottom:50px;
}
.page-header{
    position:relative;
    z-index:700;
    display: table;
    overflow:hidden;
    margin-top:0;
    margin-bottom:50px;
    padding: 10px 0px;
    width:100%;
    height:220px;
    border-bottom-width:3px;
    color:#ffffff;
    vertical-align: middle;
}
.page-header section{
    display:table-cell;
    height:220px;
    vertical-align:middle;
}
.page-header h1{
    margin-bottom:5px;
    color:#ffffff;
    text-transform:uppercase;
    font-weight:400;
}
.page-header.high{
    height:250px;
}
.page-header.high section{
    height:250px;
}
.page-header.flexible{
    height:auto!important;
}
.page-header.flexible section{
    display:table-cell;
    padding:20px 0;
    height:auto!important;
    vertical-align:middle;
}
.page-header.short{
    height:100px;
}
.page-header.short section{
    display:table-cell;
    height:100px!important;
    vertical-align:middle;
}
.page-header.short h1, .page-header.short p{
    margin:0;
    text-transform:none;
}
.page-header.lgray-color h1, .page-header.gray-color h1{
    color:#666666;
}
.page-header.wnav h1{
    margin:0 auto;
    width:70%;
    text-align:center;
}
.page-header.wnav .portfolio-nav, .page-header.wnav .portfolio-controls{
    width:15%;
}
.page-header.wnav .portfolio-nav a, .page-header.wnav .portfolio-controls a{
    display:inline-block;
    margin-top:20px;
}
.page-header.wnav .portfolio-controls{
    text-align:right;
}
.page-header.wnav .portfolio-controls .prev{
    margin-right:12px;
}


/*-------------------------------------------------------------------------------------------*/
/* Heading Styles
/*-------------------------------------------------------------------------------------------*/
.heading-fs-bg{
    margin-bottom:50px;
    padding:40px;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
    text-align:center;
}
.heading-fs-bg.light-bg{
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    color:#666666;
}
.heading-fs-bg h1, .heading-fs-bg h2, .heading-fs-bg h3, .heading-fs-bg h4, .heading-fs-bg h5, .heading-fs-bg h6{
    margin:0;
    padding:0;
}
.heading-with-icon{
    margin-bottom:50px;
    padding:10px;
    text-align:center;
}
.heading-with-icon h1, .heading-with-icon h2, .heading-with-icon h3, .heading-with-icon h4, .heading-with-icon h5, .heading-with-icon h6{
    margin:0;
    padding:0;
}
.heading-hr {
    margin-bottom:50px;
    text-align: center;
    line-height: 0.5;
}
.heading-hr span {
    position: relative;
    display: inline-block;
}
.heading-hr span:before,
.heading-hr span:after {
    position: absolute;
    top: 0;
    width: 50%;
    height: 5px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    content: "";
}
.heading-hr span:before {
    right: 100%;
    margin-right: 15px;
}
.heading-hr span:after {
    left: 100%;
    margin-left: 15px;
}
/*-------------------------------------------------------------------------------------------*/
/* Features
/*-------------------------------------------------------------------------------------------*/
.features{
    position:relative;
    min-height: 15rem;
    padding:50px 20px 20px 20px;
    color: white;
    font-weight: 500;
    border-radius: 2rem;
    background: #f4853c;
}

.features .features-icon{
    width:60px;
    height:60px;
    text-align:center;
    line-height:60px;
    color:#ffffff;
    font-size:25px;
    position:absolute;
    top:-30px;
    left:50%;
    margin-left:-30px;
    display:block;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
.features p{
    margin-bottom:10px;
}
.features:hover hr.sm{
    background:#cccccc;
}
.features:hover .ic-lg{
    color:#ffffff;
}
.features a{
    color:#666666;
}
.features-ico-left i{
    float:left;
    clear:both;
}
.features-ico-left p, .features-ico-left h1, .features-ico-left h2, .features-ico-left h3, .features-ico-left h4, .features-ico-left h5, .features-ico-left h6{
    padding-left:35px;
}
.features-ico-left.alt p, .features-ico-left.alt h1, .features-ico-left.alt h2, .features-ico-left.alt h3, .features-ico-left.alt h4, .features-ico-left.alt h5, .features-ico-left.alt h6{
    padding-left:55px;
}

/*-------------------------------------------------------------------------------------------*/
/* Testimonial
/*-------------------------------------------------------------------------------------------*/

.testimonial .img-block{
    float:left;
    width:65px;
    height:65px;
}
.testimonial .img-block img{
    border:solid 3px #dddddd;
    -webkit-border-radius:100%;
    border-radius:100%;
}
.testimonial blockquote{
    margin:0;
    padding:0;
    padding-left:100px;
    border:0;
}
/* Alt */
.testimonial-alt .img-block{
    width:100%;
}
.testimonial-alt .img-block img{
    border:solid 3px #dddddd;
    -webkit-border-radius:100%;
    border-radius:100%;
}
.testimonial-alt blockquote{
    margin:0;
    padding:0;
    padding-top:20px;
    border:0;
}
.testimonial-alt blockquote p{
    margin-bottom:0;
    white-space:normal;
    font-style:italic;
    font-size:21px;
    line-height:31px;
}
.testimonial-alt blockquote cite{
    display:block;
    margin:20px 0;
    font-size:14px;
    opacity:.8;
    color:#ffffff;
}
.blocked .testimonial-alt blockquote cite{
    color:#ffffff;
}

/*-------------------------------------------------------------------------------------------*/
/* Client Logos
/*-------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------*/
/* Blog Items
/*-------------------------------------------------------------------------------------------*/
.blog-item .blog-image {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom:20px;
}
.blog-image:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.blog-item .blog-image img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.blog-info {
    position:absolute;
    top:50%;
    margin-top:-50px;
    width:100%;
    height:100px;
    text-align:center;
}
.blog-image:hover .blog-overlay {
    opacity:1;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.blog-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    cursor:pointer;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.blog-overlay .zoom-icon {
    position:inherit;
    top:50%;
    left: 50%;
    margin-top:-40px;
    margin-left:-20px;
    width:40px;
    height:40px;
    color:#ffffff;
    opacity:0;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
.blog-image:hover .zoom-icon {
    margin-top:-10px;
    opacity:1;
    -webkit-transition: opacity .3s .2s, margin-top .3s .2s;
    -moz-transition: opacity .3s .2s, margin-top .3s .2s;
    -ms-transition: opacity .3s .2s, margin-top .3s .2s;
    -o-transition: opacity .3s .2s, margin-top .3s .2s;
    transition: opacity .3s .2s, margin-top .3s .2s;
}

/*-------------------------------------------------------------------------------------------*/
/* Blog Items Alt
/*-------------------------------------------------------------------------------------------*/
.blog-item-alt{
    border:1px solid #efefef;
    border-bottom-width:2px;
    background:#ffffff;
}
.blog-item-alt-content{
    padding:20px;
}
.blog-item-alt .blog-image {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom:20px;
}
.blog-item-alt .blog-image:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.blog-item-alt .blog-image img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.blog-item-alt .blog-info {
    position:absolute;
    top:50%;
    margin-top:-50px;
    width:100%;
    height:100px;
    text-align:center;
}
.blog-item-alt .blog-image:hover .blog-overlay {
    opacity:1;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.blog-item-alt .blog-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    cursor:pointer;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.blog-item-alt .blog-overlay .zoom-icon {
    position:inherit;
    top:50%;
    left: 50%;
    margin-top:-40px;
    margin-left:-20px;
    width:40px;
    height:40px;
    color:#ffffff;
    opacity:0;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
.blog-item-alt .blog-image:hover .zoom-icon {
    margin-top:-10px;
    opacity:1;
    -webkit-transition: opacity .3s .2s, margin-top .3s .2s;
    -moz-transition: opacity .3s .2s, margin-top .3s .2s;
    -ms-transition: opacity .3s .2s, margin-top .3s .2s;
    -o-transition: opacity .3s .2s, margin-top .3s .2s;
    transition: opacity .3s .2s, margin-top .3s .2s;
}

/*-------------------------------------------------------------------------------------------*/
/* Backgrounds
/*-------------------------------------------------------------------------------------------*/
.parallax{
    background-attachment: fixed!important;
    background-position:center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:#f8f8f8;
}
.black-overlay{
    background-color: rgba(0, 0, 0, 0.7);
}
.touch .parallax, .page-header.parallax{
    background-attachment:scroll!important;
}
.page-header.parallax{
    background-position:center center!important;
}
.bg_pictogram{
    background-image:url(../images/bg_pictogram.png);
    background-repeat:no-repeat;
    background-position:center top;
}
/*-------------------------------------------------------------------------------------------*/
/* Portfolio Isotope Transitions
/*-------------------------------------------------------------------------------------------*/
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
/*-------------------------------------------------------------------------------------------*/
/* Portfolio Item
/*-------------------------------------------------------------------------------------------*/
.portfolio-wrap-2 .portfolio-item{
    width:50%;
}
.portfolio-wrap-3 .portfolio-item{
    width:33.3111111%;
}
.portfolio-wrap-4 .portfolio-item{
    width:25%;
}
.portfolio-wrap-5 .portfolio-item{
    width:20%;
}
.portfolio-item {
    position: relative;
    display:none;
    overflow: hidden;
    padding: 0;
}
.portfolio-item .portfolio-image {
    position: relative;
    display: block;
    overflow: hidden;
}
.portfolio-item:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.portfolio-item .portfolio-image img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.portfolio-item:hover .project-overlay {
    opacity:1;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.project-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
.open-project-link {
    position:absolute;
    z-index:100;
    width:100%;
    height:100%;
}
.project-info {
    position:absolute;
    top:50%;
    left:0;
    margin-top:-50px;
    width:100%;
    height:100px;
    text-align:center;
}
.project-name {
    display:block;
    margin-top:50px;
    margin-bottom:5px;
    color:#ffffff;
    text-transform:uppercase;
    font-weight:700;
    font-size:14px;
    opacity:0;
    -webkit-transition:all 0.2s ease 0s;
    -moz-transition:all 0.2s ease 0s;
    -ms-transition:all 0.2s ease 0s;
    -o-transition:all 0.2s ease 0s;
    transition:all 0.2s ease 0s;
}
.portfolio-item:hover .project-name {
    opacity:1;
    -webkit-transition: opacity .4s .5s;
    -moz-transition: opacity .4s .5s;
    -ms-transition: opacity .4s .5s;
    -o-transition: opacity .4s .5s;
    transition: opacity .3s .5s;
}
.project-categories {
    display:block;
    color:#ffffff;
    font-size:13px;
    opacity:0;
    font-family: 'Volkhov', serif;
    font-style:italic;
    -webkit-transition:all 0.2s ease 0s;
    -moz-transition:all 0.2s ease 0s;
    -ms-transition:all 0.2s ease 0s;
    -o-transition:all 0.2s ease 0s;
    transition:all 0.2s ease 0s;
}
.portfolio-item:hover .project-categories {
    opacity:0.5;
    -webkit-transition: opacity .4s .8s;
    -moz-transition: opacity .4s .8s;
    -ms-transition: opacity .4s .8s;
    -o-transition: opacity .3s .8s;
    transition: opacity .3s .8s;
}
.portfolio-item .zoom-icon {
    position:inherit;
    left: 50%;
    margin-top:40px;
    margin-left:-20px;
    width:40px;
    height:40px;
    color:#ffffff;
    opacity:0;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
.portfolio-item:hover .zoom-icon {
    margin-top:0px;
    opacity:1;
    -webkit-transition: opacity .3s .2s, margin-top .3s .2s;
    -moz-transition: opacity .3s .2s, margin-top .3s .2s;
    -ms-transition: opacity .3s .2s, margin-top .3s .2s;
    -o-transition: opacity .3s .2s, margin-top .3s .2s;
    transition: opacity .3s .2s, margin-top .3s .2s;
}
.portfolio-item .action-icons {
    position:inherit;
    left: 50%;
    margin-top:40px;
    margin-left:-50px;
    width:100px;
    height:40px;
    color:#ffffff;
    opacity:0;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
.portfolio-item:hover .action-icons {
    margin-top:0px;
    opacity:1;
    -webkit-transition: opacity .3s .2s, margin-top .3s .2s;
    -moz-transition: opacity .3s .2s, margin-top .3s .2s;
    -ms-transition: opacity .3s .2s, margin-top .3s .2s;
    -o-transition: opacity .3s .2s, margin-top .3s .2s;
    transition: opacity .3s .2s, margin-top .3s .2s;
}
.portfolio-item .action-icons a{
    display:inline-block;
    width:40px;
    height:40px;
    background:#ffffff;
    text-align:center;
    line-height:40px!important;
}
.portfolio-item .action-icons a i{
    line-height:40px!important;
}
.portfolio-list li{
    margin-bottom:30px;
}

/*-------------------------------------------------------------------------------------------*/
/* Team Item
/*-------------------------------------------------------------------------------------------*/
.team-item {
    position: relative;
    display:block;
    overflow: hidden;
    padding: 30px;
    background:#ffffff;
}
.team-item .team-image {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius:100%;
    -webkit-border-radius:100%;
    border:solid 3px #efefef;
}
.team-item:hover img {
}
.team-item .team-image img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius:100%;
    -webkit-border-radius:100%;
}
.team-item:hover .team-overlay {
    opacity:1;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.team-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
    cursor:default;
    border-radius:100%;
    -webkit-border-radius:100%;
}
.team-info {
    position:absolute;
    top:50%;
    margin-top:-50px;
    padding-left:25px;
    width:100%;
    height:100px;
}
.team-name {
    display:block;
    margin-top:20px;
    margin-bottom:5px;
    color:#666666;
    text-align:center;
    text-transform:uppercase;
    font-weight:700;
    font-size:14px;
}
.team-position {
    display:block;
    text-align:center;
    font-weight:400;
    font-size:13px;
    font-family: 'Volkhov', serif;
    font-style:italic;
}
.team-item .social-icon {
    position:inherit;
    left: 0;
    margin-top:60px;
    width:100%;
    height:40px;
    color:#ffffff;
    text-align:center;
    opacity:0;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
.team-item .social-icon a{
    margin:0 5px;
    color:#ffffff;
}
.team-item:hover .social-icon {
    margin-top:42px;
    opacity:1;
    -webkit-transition: opacity .3s .2s, margin-top .3s .2s;
    -moz-transition: opacity .3s .2s, margin-top .3s .2s;
    -ms-transition: opacity .3s .2s, margin-top .3s .2s;
    -o-transition: opacity .3s .2s, margin-top .3s .2s;
    transition: opacity .3s .2s, margin-top .3s .2s;
}
ul.technology li:hover:before {
    position:absolute;
    top:0;
    right:0;
    display:block; width:0;
    border-width:0 25px 25px 0;
    border-style:solid;
    content:"";
}
ul.technology li:hover:before {
    border-color:#fff #fff #b21e1d #b21e1d;
}

/*-------------------------------------------------------------------------------------------*/
/* Pricing Tables
/*-------------------------------------------------------------------------------------------*/
.pricing-table {
    margin-top: 50px;
    margin-bottom: 50px;
}

.pricing-table:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
}

.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
    border-left: 1px solid #eeeeee!important;
}

.pricing-column {
    float: left;
    overflow: hidden;
    padding: 0px;
    background-color: #fff;
    text-align: center;
    -webkit-transition: box-shadow 0.2s linear;
    -moz-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
}
.pricing-column .features{
    padding:0;
    margin-bottom:0;
    background:none;
}
.pricing-column .pricing-column-content {
    padding: 0px 0px 20px 0px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.pricing-column.highlight {
    position: relative;
    z-index: 100;
    margin: -20px -1px 0px -1px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
    -moz-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
    box-shadow: 0px 0px 13px rgba(0,0,0,.09);
    -o-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
}


.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
    border: none;
}

.pricing-column.highlight h3 .highlight-reason {
    display: block;
    color: rgba(0,0,0,0.4);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
}

.pricing-column.highlight .pricing-column-content {
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}


.pricing-column.highlight:hover {
    -webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
    -moz-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
    box-shadow: 0px 0px 13px rgba(0,0,0,.15);
    -o-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
}

.pricing-column ul li {
    padding: 10px 25px;
    border-bottom: 1px solid #eeeeee;
    color: #666666!important;
    list-style: none;
    line-height: 18px;
}

.pricing-column ul li:first-child {
    border-top: 1px solid #eeeeee;
}

.pricing-column ul li:nth-child(2n+1) {
    background-color: #f8f8f8;
}

.pricing-column.highlight h3 {
    margin-bottom: 0px!important;
    padding: 15px 0px;
    color: #ffffff!important;
}

.toggle .pricing-column h3 {
    font-size: 26px!important;
}

.pricing-column h3 {
    margin-bottom: 0px;
    padding: 18px 0px 18px 0px;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
    font-size: 26px;
    line-height: 28px;
}

.pricing-column h4 {
    margin-bottom: 0px;
    margin-left: -22px;
    padding: 20px 30px 6px 30px;
    color: #333333;
    font-size: 54px!important;
    line-height: 42px!important;
}

.pricing-column h4 .dollar-sign {
    position: relative;
    top: -14px;
    right: -6px;
    font-size: 22px;
    line-height: 22px;
}

.pricing-column .interval {
    display: block;
    display: block;
    padding-bottom: 17px;
    min-height: 38px;
    color: #999999;
}

.pricing-column ul {
    margin-left: 0px;
}

.pricing-column .btn{
    margin-top:25px;
}
.pricing-column.highlight .btn{
    margin-bottom:20px;
}
.pricing-table.six-cols > div {
    width: 16.5%;
}
.pricing-table.five-cols > div {
    width: 20%;
}
.pricing-table.four-cols > div { width: 25%; }
.pricing-table.three-cols > div { width: 33.2%; }
.pricing-table.two-cols > div { width: 50%; }

/* Carousel */
#testimonials-slider li{
    display:block;
    float:left;
    overflow:hidden;
    margin-bottom:40px;
}
.dnav1{
    position:absolute;
    bottom:0;
    width:100%;
}
.dnav1 .prev:before{
    content:"\f060";
}
.dnav1 .next:before{
    content:"\f061";
}
.dnav1 .prev, .dnav1 .next{
    margin-left:20px;
    color:#dddddd;
    text-decoration:none;
    font-size:18px;
}
.dnav1 .prev:hover, .dnav1 .next:hover{
    text-decoration:none;
}
.owl-carousel .item{
    margin-left:25px;
}
.owl-carousel{
    margin-left:-15px;
}
.owl-carousel.single-carousel .item{
    margin-left:0;
}
.owl-carousel.single-carousel{
    margin-left:0;
}

/*-------------------------------------------------------------------------------------------*/
/* Typography Blocks
/*-------------------------------------------------------------------------------------------*/
.reading-block{
    margin:50px 0;
    padding:20px 30px 10px 30px;
    border:1px solid #efefef;
    border-left-width:3px;
    border-left-style:solid;
}
.quotes{
    color:#ffffff;
    text-align:center;
}
.quotes p{
    font-style:italic;
    font-size:40px;
    font-family:Georgia, serif;
    line-height:55px;
}
.quotes small{
    display:block;
    padding-top:10px;
    opacity:.8;
}


/*-------------------------------------------------------------------------------------------*/
/* Page Specific Classes
/*-------------------------------------------------------------------------------------------*/
.featured-row{
    padding:20px 0 30px 0;
    text-align:center;
}
.featured-row .btn{
    margin:0 5px;
}
.one-pager-alt h3{
    letter-spacing:2px;
}

.page-content .owl-carousel{
    margin-bottom:40px;
}
.blog-posts .post{
    margin-bottom:50px;
    padding:0 0 10px 0;
    border-bottom:1px solid #eaeaea;
}
.blog-posts .post.single-post{
    margin-bottom:20px;
}
.blog-posts .post .owl-carousel, .blog-posts .post .post-video, .blog-posts .post .post-audio{
    margin-bottom:20px;
    padding:4px;
    border:1px solid #dddddd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:#ffffff;
}
.blog-posts .post h2{
    margin-bottom:5px;
    font-weight:300;
}
.blog-posts .post h2 a:hover{
    text-decoration:none;
}
.blog-posts .post .blog-post-details{
    color:#999999;
}
.blog-posts .post .blog-post-details a{
    font-family: 'Volkhov', serif;
    font-style:italic;
}
.blog-posts .post .blog-post-content{
    padding:30px 0 10px 0;
}
.blog-posts .post .comments-likes{
    float:right;
}
.blog-posts .post .comments-likes a{
    margin-left:10px;
    color:#999999;
}
.blog-posts .post .comments-likes a:hover{
    text-decoration:none;
}
.blog-posts.blog-large-image a.btn{
    margin-bottom:20px;
}

/* Start addition with v1.3 */
.blog-masonry{
    width: 105%;
    margin-left: -3%;
    float: left;
}
.blog-masonry .blog-masonry-item{
    margin-left: 3%;
    margin-bottom:30px;
    float:left;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 0 3px rgba(0,0,0,.1);
    -moz-box-shadow:0 0 3px rgba(0,0,0,.1);
    box-shadow:0 0 3px rgba(0,0,0,.1);
}
.blog-masonry.col-2 .blog-masonry-item{
    width:49%;
}
.blog-masonry.col-3 .blog-masonry-item{
    width:29.63%;
}
.blog-masonry.col-4 .blog-masonry-item{
    width:22%;
}
.blog-posts .blog-masonry-item.post{
    border-bottom:0;
}
.blog-masonry .blog-masonry-item .post-content{
    padding:0 25px 10px 25px;
}
.blog-posts .blog-masonry-item.post h2{
    font-size:20px;
}
.blog-masonry-item .comments-likes{
    margin-top:10px;
}
/* End addition with v1.3 */

.post-about-author, .post-comments, .post-comment-form{
    padding:20px 0;
    border-bottom:1px solid #eaeaea;
}
.post-about-author .img-thumbnail{
    float:left;
    margin-right:20px;
}
.post-about-author h5, .post-comments h5, .post-comment-form h5{
    margin-bottom:5px;
}
.post-about-author p, .post-comments p, .post-comment-form p{
    font-size:13px;
    line-height:20px;
}
.comments{
    margin:0;
    list-style-type:none;
}
.comments li{
    margin-bottom:25px;
}
.comments li .post-comment-block{
    padding:25px;
    padding-bottom:5px;
    border:1px solid #eaeaea;
    border-bottom-width:2px;
    background:#ffffff;
}
.comments li.admin > .post-comment-block{
    background-color:#f8f8f8;
}
.comments li .img-thumbnail{
    float:left;
    margin-right:20px;
}
.comments li ul{
    padding-top:25px;
    padding-left:50px;
}
.post-comment-form{
    border-bottom:0;
}
.sidebar.left-sidebar{
    margin-top:10px;
}
.sidebar.right-sidebar{
    margin-top:10px;
}
.widget.sidebar-widget{
    margin-bottom:30px;
}
.flickr-widget{
    margin-left:-13px;
}
.flickr-widget li{
    float:left;
    overflow:hidden;
    margin-bottom:13px;
    margin-left:13px;
    width:75px;
}
.flickr-widget li:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.flickr-widget li img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
ul.post-list-small {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.post-list-small div.post-image {
    float: left;
    margin-right: 12px;
}

ul.post-list-small div.post-meta {
    color: #999;
    font-size: 0.8em;
}

ul.post-list-small li {
    padding: 15px 0;
    min-height: 82px;
    border-bottom: 1px solid #eaeaea;
}

ul.post-list-small li:last-child {
    border-bottom: 0;
}
.widget .tab-content{
    padding:15px 0 0 0;
}
.tag-cloud a{
    display:inline-block;
    margin-right:4px;
    margin-bottom:4px;
    padding:0 4px;
    border:1px solid #eaeaea;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:#f8f8f8;
    color:#666666;
    font-size:12px;
}
.tag-cloud a:hover{
    text-decoration:none;
}
.services-list li > section{
    position:relative;
    margin-bottom:30px;
    padding-top:50px;
    padding-bottom:50px;
    height:50x;
    border:1px solid #dddddd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:#f8f8f8;
    text-align:center;
}
.services-list li i{
    font-size:5em;
}
.services-list li:hover .services-overlay {
    opacity:1;
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.services-list li .services-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.services-overlay .services-info {
    position:inherit;
    top:50%;
    left: 50%;
    margin-top:-100px;
    margin-left:-40%;
    width:80%;
    height:100px;
    color:#ffffff;
    opacity:0;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
.services-list li:hover .services-info {
    margin-top:-50px;
    opacity:1;
    -webkit-transition: opacity .3s .2s, margin-top .3s .2s;
    -moz-transition: opacity .3s .2s, margin-top .3s .2s;
    -ms-transition: opacity .3s .2s, margin-top .3s .2s;
    -o-transition: opacity .3s .2s, margin-top .3s .2s;
    transition: opacity .3s .2s, margin-top .3s .2s;
}
.products-list li{
    margin-bottom:30px;
}
.products-list li .shop-item{
    margin-bottom:30px;
    padding:4px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.products-list li .product-image{
    position:relative;
    margin-bottom:15px;
}
.products-list li:hover .img-hover {
    opacity:1;
}
.products-list li .img-hover {
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    opacity:0;
}
.products-list li .product-details {
    float:left;
}
.products-list li .product-details h3{
    margin-bottom:0;
    font-weight:normal;
    font-size:16px;
}
.products-list li .product-details h3 a{
    color:#666666;
}
.products-list li .product-details h3 a:hover{
    text-decoration:none;
}
.products-list li .product-details .product-categories a{
    color:#999999;
    font-size:12px;
}
.products-list li .product-price{
    float:right;
    width:50px;
    text-align:right;
    font-weight:700;
}
.products-list .product-image .add-to-cart {
    position:absolute;
    bottom:-30px;
    left: 50%;
    z-index:300;
    display:block;
    margin-left:-20px;
    width:40px;
    height:40px;
    color:#ffffff;
    text-align:center;
    font-size:20px;
    line-height:40px;
    opacity:0;
    -webkit-transition:all 0.3s ease 0.2s;
    -moz-transition:all 0.3s ease 0.2s;
    -ms-transition:all 0.3s ease 0.2s;
    -o-transition:all 0.3s ease 0.2s;
    transition:all 0.3s ease 0.1s;
}
.products-list .product-image:hover .add-to-cart {
    bottom:0;
    opacity:1;
    -webkit-transition: opacity .3s .2s, bottom .3s .2s;
    -moz-transition: opacity .3s .2s, bottom .3s .2s;
    -ms-transition: opacity .3s .2s, bottom .3s .2s;
    -o-transition: opacity .3s .2s, bottom .3s .2s;
    transition: opacity .3s .2s, bottom .3s .2s;
}
.shop-badge{
    position:absolute;
    right:10px;
    top:10px;
    z-index:200;
    width:60px;
    height:60px;
    line-height:60px;
    color:#ffffff;
    text-align:center;
    display:block;
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:11px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}
.w-map{
    margin:-20px 0;
    color:#666666!important;
}
.social-icons-list{
    margin:10px 0 30px 0;
}
.social-icons-list li{
    display:inline-block;
    margin-right:20px;
}
.landing-showcase > div{
    position:relative;
}
.landing-showcase > div > img{
    margin-top:125px;
}
.container-browser{
    position:absolute;
    bottom:0;
    left:50%;
    z-index:300;
    overflow:hidden;
    margin-left:-383px;
    padding-top:33px;
    width:766px;
    height:341px;
    background:url(../images/browser.jpg) no-repeat;
}
.container-browser figure{
    position:relative;
    overflow:hidden;
    width:766px;
    height:341px;
}
.container-browser img{
    position:relative;
    margin:33px 0 0 0;
}
.container-iphone{
    overflow:hidden;
    margin:0 auto;
    padding:76px 17px 71px 19px;
    width:246px;
    height:518px;
    background:url(../images/iphone.png) no-repeat;
}
.container-iphone figure{
    position:relative;
    overflow:hidden;
    width:210px;
    height:371px;
}
.container-iphone img{
    position:relative;
    margin:76px 0 71px 0;
}
/* Show Grid */
div.show-grid [class*="col-md-"] span.show-grid-block {
    display: block;
    min-height: 40px;
    background-color: #FFF;
    text-align: center;
    line-height: 40px;
}
.coming-soon .wrapper{
    padding:100px 0 0 0;
}
.counter{
    margin:100px 0 0 0;
    min-height:150px;
    height:auto;
}
.coming-soon h4{
    color:#ffffff;
}
.counter span{
    display:block;
    height:70px;
    color:#ffffff;
    font-weight:700;
    font-size:72px;
}
.contact-form .loader{
    position:absolute;
    top:20px;
}
#message{
    display:none;
    margin-top:20px;
    text-align:left;
}
.sequence-next:hover,
.sequence-prev:hover{
    color:#ffffff;
}

/*-------------------------------------------------------------------------------------------*/
/* Overriding Classes
/*-------------------------------------------------------------------------------------------*/
.no-shadow{
    -webkit-box-shadow:none;
    box-shadow:none;
}
.no-strong{
    font-weight:400;
}
.btn-default{
    border:1px solid #cccccc!important;
}
.tp-caption .btn{
    color:#ffffff;
}
.tp-caption .btn:hover{
    color:#ffffff;
}


/*-------------------------------------------------------------------------------------------*/
/* Responsive Classes
/*-------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
    .header-style2 .main-menu > ul > li.megamenu ul:before{
        margin-left: 65%;
    }
    .header-style3 .social-icons a{
        margin:0 10px;
    }
    .header-style3 .search-form-blocked input[type="text"]{
        width:70%;
    }
    .header-style5 .main-menu > ul > li > a{
        padding:0 20px;
    }
    .main-menu > ul > li.megamenu > ul{
        left:-25%;
        margin-left:-60px;
    }
    .nav-tabs li a{
        padding:10px;
    }
}
@media only screen and (max-width: 992px) {
    body.boxed .body{
        margin:0 auto;
    }
    .main-menu{
        display:none;
    }
    .site-header{
        height:70px;
    }
    .site-header h1.logo{
        height:70px;
    }
    .site-header h1.logo img{
        max-height:50px;
        width:auto;
    }
    .main-menu > ul > li > a{
        height:70px;
        line-height:70px;
    }
    .mmenu-toggle{
        display:block;
    }
    .header-style3 .mmenu-toggle{
        top:-76px;
    }
    .header-style5 .mmenu-toggle{
        top:-45px;
    }
    .sticky-menu-active .header-style3 .mmenu-toggle{
        top:-46px;
    }
    .header-style5 .site-header{
        height:70px;
    }
    .header-style5 .site-header .logo-wrapper{
        border-bottom:none;
    }
    .header-style5 .site-header h1.logo{
        margin:0;
        height:70px;
    }
    .header-left-bg{
        width:40%!important;
    }
    #search-outer{
        display:none;
    }
    .features{
        margin-bottom:50px;
    }
    .pricing-column .features{
        margin-bottom:0;
    }
    .margin-0{
        margin-bottom:20px!important;
    }
    .heading-fs-bg.margin-0, .blog-item h5.margin-0{
        margin-bottom:0!important;
    }
    .footer-widget{
        margin-bottom:40px;
    }
    .site-footer-bottom{
        text-align:center;
    }
    .site-footer-bottom > div > div > div{
        margin-bottom:20px;
    }
    .site-footer-bottom > div > div > div:last-child{
        margin-bottom:0;
    }
    .social-icons-bar{
        margin:0 auto;
        text-align:center;
    }
    .social-icons-bar, .social-icons-bar li{
        float:none!important;
    }
    .social-icons-bar li{
        display:inline-block;
    }
    .pricing-column.highlight {
        margin: 0;
    }
    .pricing-table > div:third-child .pricing-column-content, .pricing-table > div:nth-child(2n+1) h3 {
        border-left: 1px solid #eeeeee!important;
    }
    .pricing-column ul li:first-child {
        border-top: 1px solid #eeeeee;
    }
    .pricing-column ul li:nth-child(2n+1) {
        background-color: #f8f8f8;
    }
    .toggle .pricing-column h3 {
        font-size: 26px!important;
    }

    .pricing-column.highlight .btn{
        margin-bottom:0;
    }
    .pricing-table.six-cols > div {
        width: 50%;
    }
    .pricing-table.five-cols > div {
        width: 50%;
    }
    .pricing-table.four-cols > div {
        width: 50%;
    }
    .pricing-table.three-cols > div {
        width: 50%;
    }
    .pricing-table.two-cols > div {
        width: 50%;
    }
    /* Isotope */
    ul.sort-destination.isotope {
        overflow: visible !important;
        height: auto !important;
    }
    .portfolio-list .isotope-item {
        position: static !important;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        text-align: center;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
    }
    .portfolio-list .isotope-hidden {
        display: none !important;
    }
    .portfolio-list .isotope-item.col-md-3 {
        max-width: 100%;
    }
    #sticky-nav{
        position:relative!important;
    }
    .one-pager.header-style5 .main-menu{
        position:relative;
        top:2px;
        display:block;
    }
    .one-pager.header-style5 #main-menu{
        position:absolute;
        display:none;
        padding-right:30px;
        border:0;
        background:#333333;
    }
    .one-pager.header-style5 .main-menu li{
        float:left;
        width:100%;
        border:0;
    }
    .one-pager.header-style5 .main-menu li a{
        height:54px;
        border-color:transparent;
        background:none;
        line-height:54px;
    }
    .one-pager.header-style5 .main-menu li:hover a{
        height:34px;
        border-color:transparent;
        background:none;
        line-height:34px;
    }
    .header-style5.one-pager .main-menu > ul > li:hover > a, .header-style5.one-pager .main-menu > ul > li > a:hover, .header-style5.one-pager .main-menu > ul > li.active > a{
        height:54px;
        border:none;
        background:none;
        line-height:54px;
    }
    .one-pager-alt.header-style6 .main-menu, .landing-page.header-style6 .main-menu{
        position:relative;
        top:0px;
        display:block;
    }
    .one-pager-alt.header-style6 #main-menu, .landing-page.header-style6 #main-menu{
        position:absolute;
        display:none;
        padding-right:30px;
        border:0;
        background:#333333;
        width:100%;
    }
    .one-pager-alt.header-style6 .main-menu li, .landing-page.header-style6 .main-menu li{
        float:left;
        width:100%;
        border:0;
    }
    .one-pager-alt.header-style6 .main-menu li a, .landing-page.header-style6 .main-menu li a{
        height:54px;
        border-color:transparent;
        background:none;
        line-height:54px;
    }
    .one-pager-alt.header-style6 .main-menu li:hover a, .landing-page.header-style6 .main-menu li:hover a{
        height:34px;
        border-color:transparent;
        background:none;
        line-height:34px;
    }
    .header-style6.one-pager-alt .main-menu > ul > li:hover > a, .header-style6.one-pager-alt .main-menu > ul > li > a:hover, .header-style6.one-pager-alt .main-menu > ul > li.active > a, .header-style6.landing-page .main-menu > ul > li:hover > a, .header-style6.landing-page .main-menu > ul > li > a:hover, .header-style6.landing-page .main-menu > ul > li.active > a{
        height:54px;
        border:none;
        background:none;
        line-height:54px;
    }
    .counter{
        margin-top:50px;
    }
    .counter span{
        font-size:50px;
        line-height:60px;
    }
    .coming-soon h4{
        margin-bottom:20px;
    }
    .blog-masonry.col-2 .blog-masonry-item{
        width:45.5%;
    }
    .blog-masonry.col-3 .blog-masonry-item{
        width:45.5%;
    }
    .blog-masonry.col-4 .blog-masonry-item{
        width:45.5%;
    }
}
@media only screen and (max-width: 767px) {
    .search-icon{
        margin-right:15px;
    }
    .tp-caption .btn{
        display:none!important;
    }
    .header-left-bg{
        width:100%!important;
    }
    .mmenu-toggle{
        right:10px;
    }
    .header-style3 .mmenu-toggle, .header-style5 .mmenu-toggle{
        color:#999999;
    }
    .header-style5 .main-menu > ul{
        float:none;
        margin:0 auto;
    }
    .sidebar.left-sidebar{
        margin-top:0;
        margin-bottom:40px;
    }
    .sidebar.right-sidebar{
        margin-top:40px;
    }
    .pricing-table.six-cols > div {
        margin:0 auto 30px;
        width: 100%;
    }
    .pricing-table.five-cols > div {
        margin:0 auto 30px;
        width: 100%;
    }
    .pricing-table.four-cols > div {
        margin:0 auto 30px;
        width: 100%;
    }
    .pricing-table.three-cols > div {
        margin:0 auto 30px;
        width: 100%;
    }
    .pricing-table.two-cols > div {
        margin:0 auto 30px;
        width: 100%;
    }
    .heading-hr {
        overflow:hidden;
        line-height: normal;
    }
    .heading-hr span:before,
    .heading-hr span:after {
        border-top: 0;
        border-bottom: 0;
    }
    .products-list li{
        margin-bottom:70px;
    }
    body.boxed div.body{
        margin:0 auto;
    }
    .blog-masonry.col-2 .blog-masonry-item{
        width:95%;
    }
    .blog-masonry.col-3 .blog-masonry-item{
        width:95%;
    }
    .blog-masonry.col-4 .blog-masonry-item{
        width:95%;
    }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    .fact-ico{
        background:url(../images/bg_fact@2x.png) no-repeat;
        background-size:153px 153px;
    }
}
/*helper class*/
.mt-3{
    margin-top: 3rem!important;
}
.mb-1{
    margin-bottom: 1rem!important;
}
.mt-1{
    margin-top: 1rem!important;
}

/*enf helper class*/
img.footer-portfolio {
    min-height: 4rem;
}
.text-white{
    color: white;!important;
}
.capitalize{
    text-transform:capitalize!important;
}
.circle-img{
    border-radius: 50%;
    width:30%;
    margin-bottom: 2rem;
}
/*.form-title{*/
    /*background: #1A75BA;*/
    /*color: #ffffff;*/
    /*padding: 0.5rem;*/
/*}*/