@import url(https://fonts.googleapis.com/css?family=Mukta:400,600,700);
body {
    background: #f2f5f7;
    font-family: Mukta, sans-serif;
    margin: 0;
    font-size: 15px;
    color: #4e4a4a
}

html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    background: #f2f5f7
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-weight: 600;
    font-family: Mukta, sans-serif
}

h1 {
    line-height: 43px
}

h2 {
    line-height: 35px
}

h3 {
    line-height: 30px
}

h3 small {
    color: #444
}

h4 {
    line-height: 22px
}

h4 small {
    color: #444
}

h5 small {
    color: #444
}

* {
    outline: 0!important
}

a:hover {
    outline: 0;
    text-decoration: none
}

a:active {
    outline: 0;
    text-decoration: none
}

a:focus {
    outline: 0;
    text-decoration: none
}

code {
    color: #78ceff
}

.container-alt {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

.footer {
    background-color: #f9f9f9;
    border-top: 1px solid rgba(0, 0, 0, .05);
    bottom: 0;
    color: #0a1832;
    text-align: center;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    left: 240px
}

#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f5f7;
    z-index: 9999999
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px
}

.spinner {
    position: absolute;
    width: 78px;
    height: 78px;
    left: 50%;
    margin-left: -39px;
    margin-top: -39px
}

.spinner:before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    margin-top: -23px;
    left: 50%;
    margin-left: -23px;
    border-width: 2px 1px;
    border-style: solid;
    border-color: #78ceff rgba(120, 206, 255, .3);
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: spin 3.45s infinite;
    -o-animation: spin 3.45s infinite;
    -ms-animation: spin 3.45s infinite;
    -webkit-animation: spin 3.45s infinite;
    -moz-animation: spin 3.45s infinite
}

.spinner:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -6px;
    background-color: #78ceff;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(1080deg)
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(120, 206, 255, .2)
    }
    13% {
        background-color: rgba(120, 206, 255, .2)
    }
    15% {
        background-color: rgba(120, 206, 255, .9)
    }
    28% {
        background-color: rgba(120, 206, 255, .9)
    }
    30% {
        background-color: rgba(120, 206, 255, .2)
    }
    43% {
        background-color: rgba(120, 206, 255, .2)
    }
    45% {
        background-color: rgba(120, 206, 255, .9)
    }
    70% {
        background-color: rgba(120, 206, 255, .9)
    }
    74% {
        background-color: rgba(120, 206, 255, .2)
    }
    100% {
        background-color: rgba(120, 206, 255, .9)
    }
}

@-webkit-keyframes pulse {
    0% {
        background-color: rgba(120, 206, 255, .2)
    }
    13% {
        background-color: rgba(120, 206, 255, .2)
    }
    15% {
        background-color: rgba(120, 206, 255, .9)
    }
    28% {
        background-color: rgba(120, 206, 255, .9)
    }
    30% {
        background-color: rgba(120, 206, 255, .2)
    }
    43% {
        background-color: rgba(120, 206, 255, .2)
    }
    45% {
        background-color: rgba(120, 206, 255, .9)
    }
    70% {
        background-color: rgba(120, 206, 255, .9)
    }
    74% {
        background-color: rgba(120, 206, 255, .2)
    }
    100% {
        background-color: rgba(120, 206, 255, .9)
    }
}

@keyframes borderPulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(120, 206, 255, .8);
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(120, 206, 255, .8)
    }
    40% {
        -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(120, 206, 255, .8);
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(120, 206, 255, .8)
    }
    80% {
        -webkit-box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(120, 206, 255, .8);
        box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(120, 206, 255, .8)
    }
}

@-webkit-keyframes borderPulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(120, 206, 255, .8);
        box-shadow: 0 0 0 0 #fff, 0 0 0 1px rgba(120, 206, 255, .8)
    }
    40% {
        -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(120, 206, 255, .8);
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(120, 206, 255, .8)
    }
    80% {
        -webkit-box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(120, 206, 255, .8);
        box-shadow: 0 0 0 3px #fff, 0 0 1px 3px rgba(120, 206, 255, .8)
    }
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 12px;
    margin-top: 10px;
    padding: .75rem 0
}

.breadcrumb li {
    font-size: 14px
}

.breadcrumb li a {
    color: #0a1832
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #707070;
    /*content: "\f105"!important;*/
    font-family: FontAwesome
}

.dropdown-menu {
    padding: 4px 0;
    font-size: 15px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, .05);
    box-shadow: 1px 0 20px rgba(0, 0, 0, .05);
    border-color: #eff3f6
}

.dropdown-item.active,
.dropdown-item:active {
    color: #0a1832;
    text-decoration: none;
    background-color: #eff3f6
}

.dropdown-item {
    padding: 6px 1.5rem
}

.dropdown-menu-animated {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    margin-top: 20px!important
}

.show>.dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0!important
}

.card {
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, .05);
    box-shadow: 1px 0 20px rgba(0, 0, 0, .05);
    border: none
}

.bg-primary {
    background-color: #54cc96!important
}

.bg-success {
    background-color: #508aeb!important
}

.bg-info {
    background-color: #78ceff!important
}

.bg-warning {
    background-color: #ffbe4e!important
}

.bg-danger {
    background-color: #ff5560!important
}

.bg-muted {
    background-color: #707070!important
}

.bg-white {
    background-color: #fff!important
}

.text-white {
    color: #fff!important
}

.text-danger {
    color: #ff5560!important
}

.text-muted {
    color: #707070!important
}

.text-primary {
    color: #54cc96!important
}

.text-warning {
    color: #ffbe4e!important
}

.text-success {
    color: #508aeb!important
}

.text-info {
    color: #78ceff!important
}

.text-dark {
    color: #0a1832!important
}

.badge-default {
    background-color: #eff3f6;
    color: #0a1832
}

.badge-primary {
    background-color: #54cc96
}

.badge-success {
    background-color: #508aeb
}

.badge-info {
    background-color: #78ceff
}

.badge-warning {
    background-color: #ffbe4e;
    color: #fff
}

.badge-danger {
    background-color: #ff5560
}

.badge-dark {
    background-color: #0a1832
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    background-color: #54cc96
}

.nav-pills>.active>a>.badge {
    color: #54cc96
}

.blockquote {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-left: 4px solid #ddd
}

.blockquote-reverse {
    border-left: 0;
    border-right: 4px solid #ddd;
    text-align: right
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:before {
    background: #54cc96
}

.p-0 {
    padding: 0
}

.p-t-10 {
    padding-top: 10px
}

.p-b-10 {
    padding-bottom: 10px
}

.m-0 {
    margin: 0
}

.m-r-5 {
    margin-right: 5px
}

.m-r-10 {
    margin-right: 10px
}

.m-r-15 {
    margin-right: 15px
}

.m-l-10 {
    margin-left: 10px
}

.m-l-15 {
    margin-left: 15px
}

.m-t-5 {
    margin-top: 5px
}

.m-t-10 {
    margin-top: 10px
}

.m-t-15 {
    margin-top: 15px
}

.m-t-20 {
    margin-top: 20px
}

.m-t-30 {
    margin-top: 30px
}

.m-t-40 {
    margin-top: 40px
}

.m-b-5 {
    margin-bottom: 5px
}

.m-b-10 {
    margin-bottom: 10px
}

.m-b-15 {
    margin-bottom: 15px
}

.m-b-20 {
    margin-bottom: 20px
}

.m-b-30 {
    margin-bottom: 30px
}

.w-xs {
    min-width: 80px
}

.w-sm {
    min-width: 95px
}

.w-md {
    min-width: 110px
}

.w-lg {
    min-width: 140px
}

.m-h-50 {
    min-height: 50px
}

.l-h-34 {
    line-height: 34px
}

.font-14 {
    font-size: 14px
}

.font-16 {
    font-size: 16px
}

.font-18 {
    font-size: 18px
}

.font-20 {
    font-size: 20px
}

.font-32 {
    font-size: 32px
}

.font-40 {
    font-size: 40px
}

.no-border {
    border: none
}

.bx-shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

.thumb-sm {
    height: 32px;
    width: 32px
}

.thumb-md {
    height: 48px;
    width: 48px
}

.thumb-lg {
    height: 88px;
    width: 88px
}

.header-title {
    font-size: 16px
}

.slimScrollDiv {
    height: auto!important
}


/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .7s ease-out;
    transition: all .7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, .25)
}

.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, .7)
}

.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, .7)
}

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, .7)
}

.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, .7)
}

.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, .7)
}

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, .7)
}

.waves-notransition {
    -webkit-transition: none;
    transition: none
}

.waves-circle {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none
}

.waves-input-wrapper {
    border-radius: .2em;
    vertical-align: bottom
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-block {
    display: block
}

.topbar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999
}

.topbar .topbar-left {
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    width: 240px;
    z-index: 1;
    background-color: #60d09d
}

.topbar .topbar-left .logo {
    line-height: 70px
}

.has_sub.nav-active i.mdi-chevron-right:before {
    content: "\F140"
}

.navbar-custom {
    background-color: #54cc96;
    border: none;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, .05);
    box-shadow: 1px 0 20px rgba(0, 0, 0, .05);
    padding: 0 10px
}

.notification-list {
    margin: 0!important
}

.notification-list .dropdown-menu.dropdown-menu-right {
    -webkit-transform: none!important;
    transform: none!important;
    top: 100%!important;
    right: 0!important;
    left: auto!important
}

.notification-list .noti-title {
    border-radius: .25rem .25rem 0 0;
    margin: -4px 0 0 0;
    width: auto;
    padding: 12px 20px
}

.notification-list .noti-title h5 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase
}

.notification-list .noti-icon {
    font-size: 24px;
    padding: 0 10px;
    vertical-align: middle;
    color: #fff
}

.notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 9px
}

.notification-list .notify-item {
    padding: 15px 20px
}

.notification-list .notify-item .notify-icon {
    float: left;
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50%;
    color: #fff
}

.notification-list .notify-item .notify-icon img {
    margin-top: 4px
}

.notification-list .notify-item .notify-details {
    margin-bottom: 0;
    overflow: hidden;
    margin-left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.notification-list .notify-item .notify-details b {
    font-weight: 500
}

.notification-list .notify-item .notify-details span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px
}

.notification-list .notify-all {
    border-radius: 0 0 .25rem .25rem;
    margin: 0 0 -5px 0
}

.notification-list .nav-link {
    padding: 0 5px;
    line-height: 70px
}

.profile-dropdown {
    width: 170px
}

.profile-dropdown i {
    font-size: 17px;
    margin-right: 5px
}

.app-search {
    margin-top: 18px;
    position: relative
}

.app-search .form-control,
.app-search .form-control:focus {
    border: 1px solid rgba(255, 255, 255, .1);
    font-size: 13px;
    height: 34px;
    padding-left: 18px;
    padding-right: 40px;
    margin-right: 20px;
    background: rgba(255, 255, 255, .1);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
    color: #fff
}

.app-search button {
    position: absolute;
    top: 8px;
    right: 30px;
    display: block;
    color: rgba(255, 255, 255, .5);
    font-size: 11px;
    border: none;
    background-color: transparent
}

.app-search input::-webkit-input-placeholder {
    color: #fff
}

.app-search input:-moz-placeholder {
    color: #fff
}

.app-search input::-moz-placeholder {
    color: #fff
}

.app-search input:-ms-input-placeholder {
    color: #fff
}

.nav-user {
    margin: 0 15px
}

.nav-user img {
    height: 36px;
    width: 36px
}

.arrow-none:after {
    border: none;
    margin: 0;
    display: none
}

.menu-title {
    padding: 12px 25px!important;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
    font-size: 13px;
    color: #707070
}

.dropdown-menu-lg {
    width: 300px
}

.side-menu {
    bottom: 0;
    top: 50px;
    width: 240px;
    padding: 20px 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: #fff;
    position: absolute;
    z-index: 99;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, .05);
    box-shadow: 1px 0 20px rgba(0, 0, 0, .05)
}

.side-menu .left-side-logo .logo {
    line-height: 70px
}

body.fixed-left .side-menu.left {
    bottom: 50px;
    height: 100%;
    margin-bottom: -70px;
    margin-top: 0;
    padding-bottom: 70px;
    position: fixed
}

.content-page {
    margin-left: 240px;
    overflow: hidden;
    min-height: 500px
}

.content-page>.content {
    margin-top: 70px;
    margin-bottom: 63px;
    padding: 0 25px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.page-content-wrapper {
    margin: 0 -10px
}

.button-menu-mobile {
    background-color: #54cc96;
    font-size: 28px;
    color: #fff;
    width: 60px;
    border: none;
    line-height: 68px;
    cursor: pointer
}

.button-menu-mobile-topbar {
    display: none!important
}

.sidebar-inner {
    height: 100%
}

#sidebar-menu,
#sidebar-menu a,
#sidebar-menu li,
#sidebar-menu ul {
    border: 0;
    font-weight: 400;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none
}

#sidebar-menu {
    padding-bottom: 50px;
    width: 100%
}

#sidebar-menu .badge {
    margin-top: 4px
}

#sidebar-menu ul ul {
    display: none
}

#sidebar-menu ul ul li {
    border-top: 0
}

#sidebar-menu ul ul li.active a {
    color: #54cc96
}

#sidebar-menu ul ul a {
    color: rgba(10, 24, 50, .8);
    display: block;
    padding: 12px 25px 12px 60px
}

#sidebar-menu ul ul a:hover {
    color: #0a1832
}

#sidebar-menu>ul>li>a {
    color: #707070;
    display: block;
    padding: 14px 25px;
    background-color: #fff;
    font-size: 15.5px
}

#sidebar-menu>ul>li>a:hover {
    color: #0a1832;
    text-decoration: none
}

#sidebar-menu>ul>li>a span i {
    font-size: 18px;
    line-height: 22px
}

#sidebar-menu>ul>li.nav-active>a {
    background-color: #eff3f6
}

#sidebar-menu>ul>li>a>span {
    vertical-align: middle
}

#sidebar-menu>ul>li>a>i {
    display: inline-block;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 20px
}

#sidebar-menu>ul>li>a>i.i-right {
    float: right;
    margin: 3px 0 0 0
}

#sidebar-menu>ul>li>a.active {
    color: #0a1832
}

#sidebar-menu>ul>li>a.active i {
    color: #0a1832
}

#sidebar-menu>ul>li.nav-active>ul {
    display: block
}

#wrapper.enlarged .left.side-menu {
    padding-top: 0;
    z-index: 5;
    margin-left: -100%
}

#wrapper.enlarged .content-page {
    margin-left: 0
}

#wrapper.enlarged .footer {
    left: 0
}

.user-details {
    min-height: 80px;
    padding: 20px;
    position: relative
}

.user-details img {
    position: relative;
    z-index: 9999;
    height: 64px;
    width: 64px
}

.user-details .user-info {
    text-align: center
}

.user-details .user-info .user-status {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid rgba(34, 34, 34, .27);
    border-radius: 20px;
    font-size: 12px
}

.page-title {
    font-size: 18px;
    margin-top: 22px
}

.btn {
    border-radius: 3px;
    font-size: 15px
}

.btn-danger,
.btn-dark,
.btn-info,
.btn-primary,
.btn-success,
.btn-warning {
    color: #fff
}

.btn-secondary {
    border-color: rgba(10, 24, 50, .2)
}

.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.open>.dropdown-toggle.btn-secondary,
.show>.btn-secondary.dropdown-toggle {
    border: 1px solid rgba(10, 24, 50, .2)
}

.btn-primary {
    background-color: #54cc96;
    border: 1px solid #54cc96
}

.btn-outline-primary.active,
.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.show>.btn-outline-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle {
    background-color: #40c68a!important;
    border: 1px solid #40c68a!important
}

.btn-success {
    background-color: #508aeb;
    border: 1px solid #508aeb
}

.btn-outline-success.active,
.btn-outline-success:active,
.btn-outline-success:hover,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.dropdown-toggle.btn-success,
.show>.btn-outline-success.dropdown-toggle,
.show>.btn-success.dropdown-toggle {
    background-color: #397be8!important;
    border: 1px solid #397be8!important
}

.btn-info {
    background-color: #78ceff;
    border: 1px solid #78ceff
}

.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-outline-info.active,
.btn-outline-info:active,
.btn-outline-info:hover,
.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.open>.dropdown-toggle.btn-info,
.show>.btn-info.dropdown-toggle,
.show>.btn-outline-info.dropdown-toggle {
    background-color: #5fc5ff;
    border: 1px solid #5fc5ff
}

.btn-warning {
    background-color: #ffbe4e;
    border: 1px solid #ffbe4e
}

.btn-outline-warning.active,
.btn-outline-warning:active,
.btn-outline-warning:hover,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open>.dropdown-toggle.btn-warning,
.show>.btn-outline-warning.dropdown-toggle,
.show>.btn-warning.dropdown-toggle {
    background-color: #ffb535;
    border: 1px solid #ffb535
}

.btn-danger {
    background-color: #ff5560;
    border: 1px solid #ff5560
}

.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-outline-danger.active,
.btn-outline-danger:active,
.btn-outline-danger:hover,
.open>.dropdown-toggle.btn-danger,
.show>.btn-danger.dropdown-toggle,
.show>.btn-outline-danger.dropdown-toggle {
    background-color: #ff3c48;
    border: 1px solid #ff3c48
}

.btn-dark {
    background-color: #0a1832;
    border: 1px solid #0a1832;
    color: #fff
}

.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.btn-outline-dark.active,
.btn-outline-dark:active,
.btn-outline-dark:hover,
.open>.dropdown-toggle.btn-dark,
.show>.btn-outline-dark.dropdown-toggle {
    background-color: #060e1d;
    border: 1px solid #060e1d;
    color: #fff
}

.btn-dark.focus,
.btn-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(10, 24, 50, .3);
    box-shadow: 0 0 0 2px rgba(10, 24, 50, .3)
}

.btn-link {
    color: #0a1832
}

.btn-link:hover {
    color: #54cc96
}

.btn-outline-primary {
    color: #54cc96;
    border-color: #54cc96
}

.btn-outline-success {
    color: #508aeb;
    border-color: #508aeb
}

.btn-outline-info {
    color: #78ceff;
    border-color: #78ceff
}

.btn-outline-warning {
    color: #ffbe4e;
    border-color: #ffbe4e
}

.btn-outline-danger {
    color: #ff5560;
    border-color: #ff5560
}

.btn-outline-dark {
    color: #0a1832;
    background-image: none;
    background-color: transparent;
    border-color: #0a1832
}

.note-btn-group .dropdown-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.note-btn-group .dropdown-menu>li>a:hover {
    background-color: #f6f8fa
}

.note-air-popover,
.note-image-popover,
.note-link-popover {
    display: none
}

.note-air-popover .dropdown-toggle::after,
.note-image-popover .dropdown-toggle::after,
.note-link-popover .dropdown-toggle::after {
    margin-left: 0
}

.note-icon-caret {
    display: none
}

.note-editor {
    position: relative
}

.note-editor .btn-default {
    background-color: transparent;
    border-color: transparent
}

.note-editor .btn-group-sm>.btn,
.note-editor .btn-sm {
    padding: 8px 12px
}

.note-editor .note-toolbar {
    background-color: #f3f3f3;
    border-bottom: 1px solid #eff3f6;
    margin: 0
}

.note-editor .note-statusbar {
    background-color: #fff
}

.note-editor .note-statusbar .note-resizebar {
    border-top: none;
    height: 15px;
    padding-top: 3px
}

.note-editor.note-frame {
    border: 1px solid #eff3f6
}

.note-popover .popover .popover-content {
    padding: 5px 0 10px 5px
}

.note-popover .btn-default {
    background-color: transparent;
    border-color: transparent
}

.note-popover .btn-group-sm>.btn,
.note-popover .btn-sm {
    padding: 8px 12px
}

.note-toolbar {
    padding: 5px 0 10px 5px
}

.alert {
    position: relative;
    border: 0
}

.alert .alert-link {
    font-weight: 600
}

.alert-success {
    color: #54cc96;
    background-color: #c2edda
}

.alert-success .alert-link {
    color: #36b77d
}

.alert-success hr {
    border-top-color: #36b77d
}

.alert-info {
    color: #78ceff;
    background-color: #e8f7ff
}

.alert-info .alert-link {
    color: #45bbff
}

.alert-info hr {
    border-top-color: #45bbff
}

.alert-warning {
    color: #ffbe4e;
    background-color: #fff2dd
}

.alert-warning .alert-link {
    color: #ffab1b
}

.alert-warning hr {
    border-top-color: #ffab1b
}

.alert-danger {
    color: #ff5560;
    background-color: #ffe4e6
}

.alert-danger .alert-link {
    color: #ff2230
}

.alert-danger hr {
    border-top-color: #ff2230
}

.button-items {
    margin-bottom: -8px
}

.button-items .btn {
    margin-bottom: 8px;
    margin-right: 5px
}

.bs-example-modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block
}

.icon-demo-content {
    text-align: center;
    color: #707070
}

.icon-demo-content i {
    display: block;
    font-size: 28px;
    margin-bottom: 5px
}

.icon-demo-content .col-sm-6 {
    margin-bottom: 30px
}

.icon-demo-content .col-sm-6:hover i {
    color: #54cc96
}

.page-link {
    color: #54cc96
}

.page-item.active .page-link {
    background-color: #54cc96;
    border-color: #54cc96
}

.page-link:focus,
.page-link:hover {
    color: #0a1832;
    background-color: #eff3f6
}

.progress-bar {
    background-color: #54cc96
}

.popover-header {
    margin-top: 0
}

.tooltip .tooltip-inner {
    padding: 4px 10px
}

.custom-dd .dd-list .dd-item .dd-handle {
    background: #eff3f6;
    border: 1px solid #eff3f6;
    padding: 10px 16px;
    height: auto;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px
}

.custom-dd .dd-list .dd-item .dd-handle:hover {
    color: #54cc96
}

.custom-dd .dd-list .dd-item button {
    height: auto;
    font-size: 25px;
    margin: 8px auto;
    color: #707070;
    width: 35px
}

.custom-dd-empty .dd-list .dd3-handle {
    border: none;
    background: #f3f3f3;
    height: 36px!important;
    width: 36px!important
}

.custom-dd-empty .dd-list .dd3-handle:before {
    color: inherit;
    top: 7px
}

.custom-dd-empty .dd-list .dd3-handle:hover {
    color: #54cc96
}

.custom-dd-empty .dd-list .dd3-content {
    height: auto;
    border: none;
    padding: 8px 16px 8px 46px;
    background: #f3f3f3;
    font-family: Mukta, sans-serif
}

.custom-dd-empty .dd-list .dd3-content:hover {
    color: #54cc96
}

.custom-dd-empty .dd-list button {
    width: 26px;
    height: 26px;
    font-size: 16px;
    font-weight: 600
}

.dd-dragel>.dd-item .dd-handle {
    padding: 8px 16px!important;
    background: #f3f3f3;
    height: auto
}

.dd-empty,
.dd-placeholder {
    background: #f3f3f3;
    border: 1px dashed #707070
}

.dd-dragel>.dd3-item>.dd3-handle {
    border: none;
    background: #f3f3f3;
    height: 36px!important;
    width: 36px!important
}

.dd-dragel>.dd3-item>.dd3-handle:before {
    color: inherit;
    top: 7px
}

.dd-dragel>.dd3-item>.dd3-content {
    padding: 8px 16px 8px 46px;
    background: #f3f3f3;
    height: auto
}

.swal2-modal {
    font-family: Mukta, sans-serif
}

.swal2-modal .swal2-title {
    font-size: 28px
}

.swal2-modal .swal2-content {
    font-size: 16px
}

.swal2-modal .swal2-spacer {
    margin: 10px 0
}

.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
    border: 2px solid #707070;
    font-size: 16px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.swal2-modal .swal2-styled {
    border: inherit
}

.swal2-icon.swal2-question {
    color: #54cc96;
    border-color: #54cc96
}

.swal2-icon.swal2-success {
    border-color: #508aeb
}

.swal2-icon.swal2-success .line {
    background-color: #508aeb
}

.swal2-icon.swal2-success .placeholder {
    border-color: #508aeb
}

.swal2-icon.swal2-warning {
    color: #ffbe4e;
    border-color: #ffbe4e
}

.swal2-icon.swal2-error {
    border-color: #ff5560
}

.swal2-icon.swal2-error .line {
    background-color: #ff5560
}

.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
    outline: 0;
    border: 2px solid #54cc96
}

.alertify,
.alertify-logs {
    z-index: 99
}

.alertify input {
    border: 2px solid #707070
}

.alertify-logs>.success {
    background-color: #508aeb;
    color: #fff
}

.alertify-logs>.error {
    background-color: #ff5560;
    color: #fff
}

.alertify-logs>*,
.alertify-logs>.default {
    background-color: #54cc96
}

label {
    font-weight: 600
}

.form-control {
    font-size: 15px
}

.form-control:focus {
    border-color: #54cc96;
    -webkit-box-shadow: none;
    box-shadow: none
}

.custom-control-input:checked~.custom-control-indicator {
    background-color: #54cc96
}

.custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #54cc96;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #54cc96
}

.has-success .form-control {
    border-color: #508aeb;
    -webkit-box-shadow: none;
    box-shadow: none
}

.has-warning .form-control {
    border-color: #ffbe4e;
    -webkit-box-shadow: none;
    box-shadow: none
}

.has-danger .form-control {
    border-color: #ff5560;
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-group-addon {
    border-radius: 2px;
    border: 1px solid #eff3f6
}

.datepicker {
    border: 1px solid #ddd;
    padding: 8px
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover,
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-color: #54cc96!important;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff
}

.table-condensed tbody td,
.table-condensed thead th {
    padding: 5px
}

.bootstrap-touchspin .input-group-btn-vertical .btn {
    padding: 9px 12px
}

.bootstrap-touchspin .input-group-btn-vertical i {
    top: 4px;
    left: 8px
}

.input-group-addon {
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #eff3f6
}

.badge:empty {
    padding: 0
}

.error {
    color: red
}

.parsley-error {
    border-color: #ff5560
}

.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0
}

.parsley-errors-list.filled {
    display: block
}

.parsley-errors-list>li {
    font-size: 12px;
    list-style: none;
    color: #ff5560;
    margin-top: 5px
}

.mce-panel {
    border-color: #dfe7ed!important;
    background-color: #eff3f6!important
}

.mce-menu-item.mce-selected,
.mce-menu-item:focus,
.mce-menu-item:hover {
    background-color: #54cc96!important
}

.mce-menu {
    background-color: #fff!important
}

.dropzone {
    min-height: 230px;
    border: 2px dashed rgba(0, 0, 0, .3);
    background: #fff;
    border-radius: 6px
}

.dropzone .dz-message {
    font-size: 30px
}

.calendar {
    float: left;
    margin-bottom: 0
}

.none-border .modal-footer {
    border-top: none
}

.fc-toolbar {
    margin-bottom: 5px
}

.fc-toolbar h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase
}

.fc-day {
    background: #fff
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar .ui-state-hover,
.fc-toolbar button:focus,
.fc-toolbar button:hover {
    z-index: 0
}

.fc-widget-header {
    border: 1px solid #d5d5d5;
    background-color: #eff3f6
}

.fc-widget-content {
    border: 1px solid #d5d5d5
}

.fc th.fc-widget-header {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    font-weight: 700;
    text-transform: uppercase
}

.fc-button {
    background: #fff;
    border: 1px solid #d5d5d5;
    color: #555;
    text-transform: capitalize
}

.fc-text-arrow {
    font-family: arial;
    font-size: 16px
}

.fc-state-hover {
    background: #f5f5f5
}

.fc-state-highlight {
    background: #f0f0f0
}

.fc-cell-overlay {
    background: #f0f0f0
}

.fc-unthemed .fc-today {
    background: #fff
}

.fc-event {
    border-radius: 2px;
    border: none;
    cursor: move;
    font-size: 13px;
    margin: 5px 0;
    padding: 5px 5px;
    text-align: center;
    background-color: #54cc96;
    color: #fff!important
}

.external-event {
    color: #fff;
    cursor: move;
    margin: 10px 0;
    padding: 6px 10px
}

.fc-basic-view td.fc-week-number span {
    padding-right: 5px
}

.fc-basic-view td.fc-day-number {
    padding-right: 5px
}

.table {
    margin-bottom: 10px
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    padding: 15px 12px
}

.table-hover tbody tr:hover,
.table-striped tbody tr:nth-of-type(odd),
.thead-default th {
    background-color: #eff3f6
}

.table td,
.table th {
    vertical-align: middle
}

table.focus-on tbody tr.focused th {
    background-color: #54cc96;
    color: #fff
}

table.focus-on tbody tr.focused td {
    background-color: #54cc96;
    color: #fff
}

.table-rep-plugin .btn-toolbar {
    display: block
}

.table-rep-plugin .table-responsive {
    border: none!important
}

.table-rep-plugin .fixed-solution {
    margin-bottom: 0
}

.table-rep-plugin .fixed-solution .sticky-table-header {
    top: 70px!important
}

.table-rep-plugin .btn-group.float-right .dropdown-menu {
    left: auto;
    right: 0
}

.table-rep-plugin tbody th {
    font-size: 14px;
    font-weight: 400
}

.table-rep-plugin .checkbox-row {
    padding-left: 40px
}

.table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative
}

.table-rep-plugin .checkbox-row label::before {
    -o-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    position: absolute;
    transition: .3s ease-in-out;
    width: 17px;
    outline: 0!important
}

.table-rep-plugin .checkbox-row label::after {
    color: #555;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: -1px;
    width: 16px
}

.table-rep-plugin .checkbox-row input[type=checkbox] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: 0!important
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label {
    opacity: .65
}

.table-rep-plugin .checkbox-row input[type=checkbox]:focus+label::before {
    outline-offset: -2px;
    outline: 0
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after {
    content: "\f00c";
    font-family: FontAwesome
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label::before {
    background-color: #eff3f6;
    cursor: not-allowed
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::before {
    background-color: #54cc96;
    border-color: #54cc96
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after {
    color: #fff
}

.irs-from,
.irs-single,
.irs-to {
    background: #54cc96
}

.irs-from:after,
.irs-single:after,
.irs-to:after {
    border-top-color: #54cc96
}

.jqstooltip {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0
}

.chart.chart-widget-pie {
    margin-top: 5px;
    margin-bottom: 5px
}

.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2
}

.percent:after {
    content: '%';
    margin-left: .1em;
    font-size: .8em
}

.morris-charts text {
    font-family: Mukta, sans-serif!important
}

.morris-hover.morris-default-style {
    border-radius: 5px;
    padding: 10px 12px;
    background: #fff;
    border: none;
    font-family: Mukta, sans-serif;
    -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14)
}

.morris-hover.morris-default-style .morris-hover-point {
    font-weight: 500;
    font-size: 14px;
    color: #0a1832!important
}

.morris-hover.morris-default-style .morris-hover-row-label {
    background-color: #0a1832;
    color: #fff;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    margin: -10px -12px 10px
}

#flotTip {
    padding: 8px 12px;
    background-color: #fff;
    z-index: 100;
    color: #0a1832;
    -webkit-box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    box-shadow: 0 5px 25px 5px rgba(0, 0, 0, .14);
    border-radius: 1px
}

.ct-golden-section:before {
    float: none
}

.ct-chart {
    height: 300px
}

.ct-grid {
    stroke: rgba(0, 0, 0, .09);
    stroke-width: 2px;
    stroke-dasharray: 3px
}

.ct-chart .ct-label {
    fill: #707070;
    color: #707070;
    font-size: 14px;
    line-height: 1
}

.ct-chart.simple-pie-chart-chartist .ct-label {
    color: #fff;
    fill: #fff;
    font-size: 16px
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
    stroke: #54cc96
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
    stroke: #78ceff
}

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
    stroke: #ffbe4e
}

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
    stroke: #0a1832
}

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
    stroke: #508aeb
}

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
    stroke: #ff5560
}

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
    stroke: #eff3f6
}

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
    fill: #54cc96
}

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
    fill: #ffbe4e
}

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
    fill: #0a1832
}

.chartist-tooltip {
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 10px;
    padding: 2px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
    background: #0a1832;
    color: #fff;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.chartist-tooltip.tooltip-show {
    opacity: 1
}

.c3 svg {
    max-width: 100%
}

.c3-tooltip td>span {
    background: #0a1832
}

.c3-tooltip td {
    border-left: none
}

.c3-tooltip {
    -webkit-box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .12);
    opacity: 1
}

.c3-chart-arcs-title {
    font-size: 18px;
    font-weight: 600;
    font-family: Mukta, sans-serif
}

.c3-tooltip tr {
    border: none!important
}

.c3-tooltip th {
    background-color: #0a1832
}

.c3-tooltip .value {
    font-weight: 600;
    font-family: Mukta, sans-serif
}

.c3-line {
    stroke-width: 2px
}

.c3-legend-item {
    font-size: 13px;
    font-family: Mukta, sans-serif
}

.widget-chart li {
    width: 31.5%;
    display: inline-block;
    padding: 0
}

.widget-chart li i {
    font-size: 22px
}

.mini-stat {
    overflow: hidden
}

.mini-stat .mini-stat-icon i {
    font-size: 34px
}

.activity-list {
    padding-left: 86px
}

.activity-list .activity-item {
    position: relative;
    padding-bottom: 26px;
    padding-left: 45px;
    border-left: 2px solid #f3f3f3
}

.activity-list .activity-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: -7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #54cc96
}

.activity-list .activity-item .activity-item-img img {
    max-width: 78px
}

.activity-list .activity-item .activity-date {
    position: absolute;
    left: -82px
}

@media (max-width:420px) {
    .activity-list {
        padding-left: 0
    }
    .activity-list .activity-date {
        position: relative!important;
        display: block;
        left: 0!important;
        margin-bottom: 10px
    }
}

.bg-sale-wid {
    background-image: url(../images/bg-sale-wid.png);
    background-size: cover;
    background-position: center
}

.weather-box {
    overflow: hidden
}

.weather-box .weather-icon i {
    color: rgba(255, 255, 255, .1);
    position: absolute;
    bottom: -65px;
    right: -34px;
    font-size: 10rem
}

.post-details {
    overflow: hidden
}

.gmaps,
.gmaps-panaroma {
    height: 300px;
    background: #eff3f6;
    border-radius: 3px
}

.gmaps-overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    background: #54cc96;
    border-radius: 4px;
    padding: 10px 20px
}

.gmaps-overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute
}

.gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #54cc96
}

.gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #54cc96
}

.cd-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto
}

.cd-container::after {
    content: '';
    display: table;
    clear: both
}

#cd-timeline {
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 2em 0;
    position: relative
}

#cd-timeline::before {
    border-left: 3px solid #eff3f6;
    content: '';
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px
}

@media only screen and (min-width:1170px) {
    #cd-timeline {
        margin-bottom: 3em;
        margin-top: 3em
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px
    }
}

.cd-timeline-block {
    margin: 2em 0;
    position: relative
}

.cd-timeline-block:after {
    clear: both;
    content: "";
    display: table
}

.cd-timeline-block:first-child {
    margin-top: 0
}

.cd-timeline-block:last-child {
    margin-bottom: 0
}

@media only screen and (min-width:1170px) {
    .cd-timeline-block {
        margin: 4em 0
    }
    .cd-timeline-block:first-child {
        margin-top: 0
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0
    }
}

.cd-timeline-img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    color: #fff;
    background-color: #54cc96;
    border: 5px solid #fff;
    z-index: 99
}

.cd-timeline-img i {
    margin-left: 1px
}

@media only screen and (min-width:1170px) {
    .cd-timeline-img {
        width: 40px;
        height: 40px;
        line-height: 32px;
        left: 50%;
        top: 0;
        margin-left: -20px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 .6s;
        animation: cd-bounce-1 .6s
    }
}

.cd-timeline-box {
    border-radius: 5px;
    border: 2px solid #eff3f6;
    margin-left: 60px;
    padding: 1em;
    position: relative
}

.cd-timeline-box:after {
    clear: both;
    content: "";
    display: table
}

.cd-timeline-box h2 {
    margin-top: 0
}

.cd-timeline-box .cd-date {
    display: inline-block;
    font-size: 14px
}

.cd-timeline-box h3 {
    font-size: 18px;
    margin: 0 0 15px 0
}

.cd-timeline-box .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7
}

.cd-timeline-box::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 7px;
    width: 100%;
    background: #eff3f6
}

@media only screen and (min-width:1170px) {
    .cd-timeline-box {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        margin-top: 70px;
        float: left
    }
    .cd-timeline-box:before {
        top: -54px;
        left: 7%;
        right: auto
    }
    .cd-timeline-box .cd-date {
        position: absolute;
        width: 100%;
        left: -18px;
        top: -45px
    }
    .cd-timeline-box .cd-timeline-content:before {
        content: "";
        position: absolute;
        top: -49px;
        left: 75px;
        right: 45px;
        height: 50px;
        border-left: 12px double #eff3f6;
        border-right: 12px double #eff3f6
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-box {
        float: right
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-box .cd-date {
        left: auto;
        right: 50%;
        text-align: right
    }
}

@media only screen and (min-width:1170px) {
    .cd-timeline-box.right {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        margin-top: 70px;
        float: left
    }
    .cd-timeline-box.right:before {
        top: -54px;
        left: auto;
        right: 7%
    }
    .cd-timeline-box.right .cd-timeline-content:before {
        left: 45px;
        right: 75px
    }
}

@media (max-width:1024px) {
    .cd-timeline-box:before {
        width: 10%
    }
    .cd-timeline-img {
        top: 2px
    }
}

.table>thead>tr>.no-line {
    border-bottom: none
}

.table>tbody>tr>.no-line {
    border-top: none
}

.table>tbody>tr>.thick-line {
    border-top: 2px solid #ddd
}

@media print {
    .content {
        margin-top: 0;
        padding-top: 0
    }
    .content-page {
        margin-left: 0!important;
        margin-top: 0
    }
    .container-fluid {
        width: 100%
    }
}

.accountbg {
    position: relative;
    height: 100vh;
    background: url(../images/bg-1.jpg);
    background-size: cover;
    background-position: center
}

.accountbg .content-center {
    display: table;
    width: 100%;
    height: 100%
}

.accountbg .content-desc-center {
    display: table-cell;
    vertical-align: middle
}

.accountbg .logo-admin {
    line-height: 70px
}

.accountbg .user-thumb img {
    height: 88px;
    width: 88px
}

.ex-page-content h1 {
    font-size: 98px;
    font-weight: 500;
    line-height: 150px;
    text-shadow: rgba(84, 204, 150, .3) 1px 1px, rgba(84, 204, 150, .2) 2px 2px, rgba(84, 204, 150, .3) 3px 3px
}

.ex-page-content h1 i {
    font-size: 84px
}

.pricing-box {
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, .05);
    box-shadow: 1px 0 20px rgba(0, 0, 0, .05)
}

.pricing-box .pricing-title {
    -webkit-clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
    clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0)
}

.pricing-box .price {
    display: inline-block;
    width: 108px;
    height: 108px;
    line-height: 102px;
    border-radius: 50%;
    color: #fff;
    border: 3px solid #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 140px
}

.pricing-box .plan-features p {
    font-size: 16px
}

.faq-box .faq-ques {
    background: rgba(84, 204, 150, .2)
}

.faq-box .faq-icon {
    font-size: 30px;
    text-shadow: rgba(84, 204, 150, .3) 1px 1px, rgba(84, 204, 150, .2) 2px 2px, rgba(84, 204, 150, .3) 3px 3px;
    position: relative;
    bottom: 13px;
    left: 13px
}

.comming-watch div {
    display: inline-block
}

.comming-watch div .card {
    margin: 0 15px 15px 15px
}

.comming-watch div .card .countdown-num {
    font-weight: 600;
    color: #54cc96
}

.comming-watch div span {
    width: 150px;
    display: block
}

.comming-watch div span:first-child {
    height: 60px;
    font-weight: 300;
    font-size: 3em;
    line-height: 48px
}

.comming-watch div span:last-child {
    padding-top: 14px;
    font-size: .9em
}

@media (min-width:768px) and (max-width:991px) {
    body {
        overflow-x: hidden
    }
}

@media (max-width:768px) {
    .side-menu.left {
        margin-left: -100%;
        top: 0;
        z-index: 1000!important
    }
    .content-page {
        margin-left: 0
    }
    .enlarged .side-menu.left {
        margin-left: 0!important
    }
    .button-menu-mobile {
        display: inline-block
    }
    .navbar-custom {
        padding-left: 10px
    }
    #wrapper.enlarged .footer,
    .footer {
        left: 0
    }
    .button-menu-mobile-topbar {
        display: block!important;
        background-color: #fff;
        color: #0a1832;
        font-size: 20px;
        height: 42px;
        width: 42px;
        line-height: 42px;
        border-radius: 0;
        border: none;
        position: absolute;
        right: -42px;
        top: 14px
    }
}

@media (max-width:768px) {
    body {
        overflow-x: hidden
    }
    .content-page {
        margin-left: 0!important
    }
    .enlarged .left.side-menu {
        margin-left: -75px
    }
    .wrapper-page {
        width: 90%
    }
}

@media (max-width:620px) {
    .mo-mb-2 {
        margin-bottom: 10px
    }
}

@media (max-width:480px) {
    .side-menu {
        z-index: 10
    }
    .button-menu-mobile {
        display: block
    }
    .page-breadcrumb {
        display: none
    }
}

@media (max-width:420px) {
    .hide-phone,
    .notify-icon {
        display: none
    }
    .dropdown-menu-lg {
        width: 200px
    }
    .notify-details {
        margin-left: 0!important
    }
    .height-auto {
        height: auto;
        padding-top: 45px
    }
}